.control-label{
    font-weight: bold;
}
.form-control[disabled] {
    background-color: #e6e0e0 !important;
    color: #544c4c !important;
    border-color: #bbb1b1;
}
div{
    box-shadow: none;
}
.c-btn{
    width: 100%;
     box-shadow: none!important; 
    padding: 10px;
    cursor: pointer;
}

angular2-multiselect > div.cuppa-dropdown > div.selected-list > div {
    box-shadow: none!important; 
  }