.table > thead > tr > th:first-child, .table > thead > tr > th {
    font-weight: bold;
    text-align: left;
}
.table > tbody > tr > td:first-child {
    text-align: left;
}

.alignCenter {
    vertical-align: middle;
    line-height: inherit;
    padding: 10px;
}

.btn.btn-primary {
    margin-left: 15px;
}

.roles {
    max-width: 250px;
}

.fa[data-toggle="tooltip"] {
    color: #209e91;
}

.form-group {
    label {
        margin-top: 10px;
    }
}

