<div class="row top20 clearfix fadeIn animated">
	<div class="col-12">

		<div class="catSearch clearfix card-header">
			<h2 class="card-title ">
				Manage Categories
				<!-- <button class="btn btn-primary float-right" (click)=" bulkUpload() ">
					<i class="fa fa-download" aria-hidden="true"></i>
					Import
				</button> -->
				<button class="btn btn-primary float-right" [routerLink]="['./add-category']">
					<i class="fa fa-plus-square" aria-hidden="true"></i>
					Add New
				</button>
			</h2>
		</div>

		<div class="filters card col-12 fadeIn animated">
			<div class="card-body">
				<form>

					<div class="form-group row">
						<label for="name" class="col-3 col-xl-2 text-right">
							Category Name
							<i class="fa fa-info-circle" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="Search by Category Name."></i>
						</label>
						<input type="text" #searchText class="form-control col-4" id="name" placeholder="Category Name">
						<button type="submit" class="btn btn-primary searchbutton" (click)=" searchCategory(searchText.value) ">
							<i class="fa fa-search" aria-hidden="true"></i>
							 Search
						</button>
					</div>

				</form>
			</div>
		</div>

		<div class="spacer col-12"></div>

		<div class="card">
			<div class="card-body pos_relative">

				<div class="loader-container pos_absolute" *ngIf="showLoader">
					<img src="assets/img/ajax-loader.gif" alt="Loader Image">
				</div>

				<div class="tabs-section">
					<!-- Tabs Top UI -->
					<ul class="nav nav-tabs" role="tablist">
						<li class="nav-item">
							<a class="nav-link active" href="#Approved" role="tab" data-toggle="tab">Approved</a>
						</li>
						<li class="nav-item">
							<a class="nav-link " href="#pending" role="tab" data-toggle="tab">Pending Approval</a>
						</li>
					</ul>
				</div>

				<div class="tab-content no_left_padding no_right_padding">

					<div role="tabpanel" class="tab-pane fade in active" id="Approved">
						<div class="tree-structure col-12 no_padding">
							<div class="text-center" *ngIf="categoriesFiltered && categoriesFiltered.length === 0">
								There are no categories.
							</div>
							<div class="tree-row" *ngFor="let item of categoriesFiltered">
								<div class="clearfix secondChildren">
									<i *ngIf="!item.showChild" (click)="showChildrens(item)" [class.hidden]="item.SubCategories.length <= 0" class="fa fa-plus"
									 aria-hidden="true"></i>
									<i *ngIf="item.showChild" (click)="showChildrens(item)" [class.hidden]="item.SubCategories.length <= 0" class="fa fa-minus"
									 aria-hidden="true"></i>
									<span>
										{{ item.Name }}
									</span>
									<span class="status">
                                        Is Active:
                                        <span *ngIf="item.IsActive">{{ item.IsActive }}</span>
                                        <span *ngIf="!item.IsActive">False</span>
									</span>
									<button class="btn btn-secondary float-right" [routerLink]="['./edit-category/', item.Id]" title="Edit">
										<i class="fa fa-pencil" aria-hidden="true"></i>
									</button>
								</div>

								<div class="tree-container" *ngIf="item.showChild">
									<div class="tree-row" *ngFor="let children of item.SubCategories">
										<div class="clearfix secondChildren">
											<i *ngIf="!children.showChild" (click)="showChildrens(children)" [class.hidden]="children.SubCategories.length <= 0" class="fa fa-plus"
											 aria-hidden="true"></i>
											<i *ngIf="children.showChild" (click)="showChildrens(children)" [class.hidden]="children.SubCategories.length <= 0" class="fa fa-minus"
											 aria-hidden="true"></i>
											<span>
												{{ children.Name }}
                                            </span>
                                            <span class="status">
                                                 Is Active:
                                                <span *ngIf="children.IsActive">{{ children.IsActive }}</span>
                                                <span *ngIf="!children.IsActive">False</span>
                                            </span>
											<button class="btn btn-secondary float-right" [routerLink]="['./edit-category/', children.Id]" title="Edit">
												<i class="fa fa-pencil" aria-hidden="true"></i>
											</button>
										</div>

										<div class="tree-container" *ngIf="children.showChild">
											<div class="tree-row" *ngFor="let child of children.SubCategories">
												<div class="clearfix secondChildren">
                                                    <i *ngIf="!child.showChild" (click)="showChildrens(child)" [class.hidden]="child.SubCategories.length <= 0" class="fa fa-plus" aria-hidden="true"></i>
                                                    <i *ngIf="child.showChild" (click)="showChildrens(child)" [class.hidden]="child.SubCategories.length <= 0" class="fa fa-minus" aria-hidden="true"></i>
													<span>
														{{ child.Name }}
                                                    </span>
                                                    <span class="status">
                                                         Is Active:
                                                        <span *ngIf="child.IsActive">{{ child.IsActive }}</span>
                                                        <span *ngIf="!child.IsActive">False</span>
                                                    </span>
													<button class="btn btn-secondary float-right" [routerLink]="['./edit-category/', child.Id]" title="Edit">
														<i class="fa fa-pencil" aria-hidden="true"></i>
													</button>
                                                </div>

                                                <div class="tree-container" *ngIf="child.showChild">
                                                    <div class="tree-row" *ngFor="let lastChild of child.SubCategories">
                                                        <div class="clearfix secondChildren">
                                                            <!-- <i *ngIf="!lastChild.showChild" (click)="showChildrens(lastChild)" [class.hidden]="lastChild.SubCategories.length <= 0" class="fa fa-plus" aria-hidden="true"></i>
                                                            <i *ngIf="lastChild.showChild" (click)="showChildrens(lastChild)" [class.hidden]="lastChild.SubCategories.length <= 0" class="fa fa-minus" aria-hidden="true"></i> -->
                                                            <span>
                                                                {{ lastChild.Name }}
                                                            </span>
                                                            <span class="status">
                                                                 Is Active:
                                                                <span *ngIf="lastChild.IsActive">{{ lastChild.IsActive }}</span>
                                                                <span *ngIf="!lastChild.IsActive">False</span>
                                                            </span>
                                                            <button class="btn btn-secondary float-right" [routerLink]="['./edit-category/', lastChild.Id]" title="Edit">
                                                                <i class="fa fa-pencil" aria-hidden="true"></i>
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
											</div>

										</div>


									</div>
								</div>

							</div>
						</div>
					</div>

					<div role="tabpanel" class="tab-pane fade" id="pending">
						<table class="table table-bordered table-responsive" >
							<thead class="black-muted-bg">
								<tr>
									<th>Name</th>
									<th class="description">Description</th>
									<th>Parent Name</th>
									<th class="comment">Comment</th>
									<!-- <th>Action</th> -->
								</tr>
							</thead>
							<tbody *ngIf="unApprovedCategories &&unApprovedCategories.length > 0">
                                <tr *ngFor="let category of unApprovedCategories">
                                    <td>{{ category.Name }}</td>
                                    <td class="description">{{ category.Description }}</td>
                                    <td>{{ category.ParentCategoryName }}</td>
                                    <td class="comment">
                                        <form  [formGroup]=" approvalForm " (ngSubmit)=" approveCategory(approvalForm.value, category) ">
                                            <textarea cols="30" rows="3" class="form-control"  formControlName="Reason"></textarea>
                                            <button type="submit" class="btn btn-success">
                                                Approve
                                            </button>
                                            <span>
                                                <img src="assets/img/ajax-loader.gif" width="40" height="40" alt="Loder Image" *ngIf="category.approvalLoader">
                                            </span>
                                        </form>
                                    </td>
                                </tr>
                            </tbody>
                            <tfoot *ngIf="unApprovedCategories && unApprovedCategories.length === 0">
                                <tr>
                                    <td colspan="4" class="text-center">
                                        There are no un-approved categories.
                                    </td>
                                </tr>
                            </tfoot>
                        </table>
					</div>

				</div>

			</div>
		</div>

	</div>
</div>