<div class="row top20 clearfix fadeIn animated">
	<div class="col-12">

		<div class="catSearch clearfix card-header">
			<h2 class="card-title ">
				Manage Categories
				<button class="btn btn-primary float-right" (click)=" bulkUpload() ">
					<i class="fa fa-download" aria-hidden="true"></i>
					Import
				</button>
				<button class="btn btn-primary float-right" [routerLink]="['./add-category']">
					<i class="fa fa-plus-square" aria-hidden="true"></i>
					Add New
				</button>
			</h2>
		</div>

		<div class="filters card col-12 fadeIn animated">
			<div class="card-body">
				<form>

					<div class="form-group row">
						<label for="name" class="col-3 col-xl-2 text-right">
							Category Name
							<i class="fa fa-info-circle" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="Search by Category Name."></i>
						</label>
						<input type="text" #searchText class="form-control col-4" id="name" placeholder="Category Name">
						<button type="submit" class="btn btn-primary searchbutton" (click)=" searchCategory(searchText.value) ">
							<i class="fa fa-search" aria-hidden="true"></i>
							 Search
						</button>
					</div>

				</form>
			</div>
		</div>

		<div class="spacer col-12"></div>

		<div class="card">
			<div class="card-body pos_relative">

				<div class="loader-container pos_absolute" *ngIf="showLoader">
					<img src="assets/img/ajax-loader.gif" alt="Loader Image">
				</div>

				<div class="tree-structure">
					<div class="text-center" *ngIf="categoriesFiltered && categoriesFiltered.length === 0">
						There are no categories.
					</div>
					<div class="tree-row" *ngFor="let item of categoriesFiltered">
						<div class="clearfix firstChildren">
							<i *ngIf="!item.showChild" (click)="showChildrens(item)" [class.hidden]="item.SubCategories.length <= 0" class="fa fa-plus" aria-hidden="true"></i>
							<i *ngIf="item.showChild" (click)="showChildrens(item)" [class.hidden]="item.SubCategories.length <= 0" class="fa fa-minus" aria-hidden="true"></i>
							<span>
								{{ item.Name }}
							</span>
							<button class="btn btn-secondary float-right" [routerLink]="['./edit-category/', item.Id]" title="Edit">
								<i class="fa fa-pencil" aria-hidden="true"></i>
							</button>
						</div>

						<div class="tree-container" *ngIf="item.showChild">
							<div class="tree-row" *ngFor="let children of item.SubCategories">
								<div class="clearfix secondChildren">
									<i *ngIf="!children.showChild" (click)="showChildrens(children)" [class.hidden]="children.SubCategories.length <= 0" class="fa fa-plus" aria-hidden="true"></i>
									<i *ngIf="children.showChild" (click)="showChildrens(children)" [class.hidden]="item.SubCategories.length <= 0" class="fa fa-minus" aria-hidden="true"></i>
									<span>
										{{ children.Name }}
									</span>
									<button class="btn btn-secondary float-right" [routerLink]="['./edit-category/', children.Id]" title="Edit">
										<i class="fa fa-pencil" aria-hidden="true"></i>
									</button>
								</div>

								<div class="tree-container" *ngIf="children.showChild">
									<div class="tree-row" *ngFor="let child of children.SubCategories">
										<div class="clearfix secondChildren">
											<i (click)="showChildrens(children)" [class.hidden]="child.SubCategories.length <= 0" class="fa fa-plus" aria-hidden="true"></i>
											<span>
													{{ child.Name }}
											</span>
											<button class="btn btn-secondary float-right" [routerLink]="['./edit-category/', child.Id]" title="Edit">
													<i class="fa fa-pencil" aria-hidden="true"></i>
											</button>
										</div>
									</div>

								</div>


							</div>
						</div>

					</div>
				</div>
			</div>
		</div>

		<!-- <div class="spacer col-12"></div>

		<div class="filters card col-12">
			<div class="card-body">
				<table class="table table-bordered table-responsive"  [mfData]="categoriesFiltered" #mf="mfDataTable" [mfRowsOnPage]="10">
					<thead class="black-muted-bg">
						<tr>
							<th class="text-left"><strong>Name</strong></th>
							<th class="text-center"><strong>Published</strong></th>
							<th class="text-center"><strong>Display Order</strong></th>
							<th class="text-center"><strong>Action</strong></th>
						</tr>
					</thead>
					<tbody *ngIf=" categoriesFiltered && categoriesFiltered.length > 0 ">
						<tr *ngFor=" let item of mf.data; let i = index " >
							<td class="text-left">
								<i (click)="showChildrens(item)" [class.hidden]="item.SubCategories.length <= 0" class="fa fa-plus" aria-hidden="true"></i>
									{{ item.Name }}
							</td>
							<td class="text-center">
								<i *ngIf=" item.published " class="fa fa-check" aria-hidden="true"></i>
								<i *ngIf=" !item.published " class="fa fa-times" aria-hidden="true"></i>
							</td>
							<td class="text-center">{{ item.DisplayOrder }}</td>
							<td class="text-center">
								<button class="btn btn-secondary" [routerLink]="['./edit-category/', item.Id]" title="Edit">
									<i class="fa fa-pencil" aria-hidden="true"></i>
								</button>
								<img *ngIf="deleteLoader == i" src="assets/img/ajax-loader.gif" alt="Loader Image" width="35" height="35">
							</td>
						</tr>
					</tbody>

					<tbody *ngIf=" categoriesFiltered && categoriesFiltered.length === 0 ">
						<tr>
							<td colspan="5">
								<strong>There are no categories!</strong>
							</td>
						</tr>
					</tbody>

					<tfoot *ngIf=" categoriesFiltered && categoriesFiltered.length > 10 ">
						<tr>
							<td colspan="5">
								<mfBootstrapPaginator [rowsOnPageSet]="[5,10,25]"></mfBootstrapPaginator>
							</td>
						</tr>
					</tfoot>
				</table>

			</div>

		</div> -->

	</div>
</div>