
.disabled {
	opacity: 0.7 !important;
	pointer-events: none;
}

.template-download {
	margin-top: 4px;
	text-decoration: underline !important;
}

.searchbutton {
	margin-left: 15px;
}

.filters {
	margin-bottom: 0;
}

.tree-view {
	margin-top: 30px;
}

.form-group label {
	margin-top: 10px;
}

.spacer {
	margin-bottom: 15px;
}

.catSearch {
	.btn {
		&.btn-primary {
			background-color: #0275d8 !important;
			border-color: #0275d8 !important;
			margin-top: -6px;
		}

		& + .btn {
			margin-right: 10px;
		}
	}
}

.fa[data-toggle="tooltip"] {
	color: #209e91;
}

i.fa-plus,
i.fa-minus {
	cursor: pointer;
}

.tree-structure {
	.tree-row {
		padding: 10px;
		border: 1px solid #e4e4e4;
		.tree-row {
			margin-left: 30px;
			> div {
				// visibility: visible;
			}
		}
		.tree-container {
		    margin-top: 10px;
		}
	}
}

.card-body.pos_relative {
	min-height: 100px;
}

.status {
	margin-left: 35px;
	font-size: 13px;
}

.tabs-section {
    margin-left: -23px;
}


.fade.active {
    opacity: 1;
}

.description,
.comment {
	max-width: 300px;
}

.secondChildren {
    > i,
    > span {
        margin-top: 9px;
    }
}




