<button class="btn btn-info deleteSelectedButton" (click)="exportProducts()" [class.disabled]=" !orders || orders.length === 0 ">
    <i class="fa fa-download" aria-hidden="true"></i>
    Export
</button>
<button class="btn btn-secondary deleteSelectedButton" [class.disabled]=" !orders || orders.length === 0 " (click)="downloadPDF()">
    <i class="fa fa-file-pdf-o"></i> Generate PO
</button>
<div class="table-responsive">
    <table class="table table-bordered" [mfData]="orders" #mf="mfDataTable" [mfRowsOnPage]="10">
        <thead class="black-muted-bg">
            <tr>
                <th class="text-left orderno">
                    <strong>PO No.</strong>
                </th>
                <th class="customer">
                    <strong>Member Name</strong>
                </th>
                <th class="customer">
                    <strong>Email</strong>
                </th>
                <th class="customer">
                    <strong>Mobile</strong>
                </th>
                <th>
                    <strong>Seller Company</strong>
                </th>
                <th>
                    <strong>Item Code</strong>
                </th>
                <th>
                    <strong>Status</strong>
                </th>
                <th class="createDate">
                    <strong>PO Date</strong>
                </th>
                <th>
                    <strong>Action</strong>
                </th>
            </tr>
        </thead>
        <tbody *ngIf=" orders && orders.length > 0 ">
            <tr *ngFor=" let item of mf.data; let i = index; ">
                <td class="text-left">
                    {{ item.PurchaseOrderNumber }}
                </td>
                <td class="customer">
                    {{ item.FirstName }} {{ item.LastName }}
                </td>
                <td class="no-text-transform">{{ item.Email }}</td>
                <td>{{ item.Mobile }}</td>
                <td>{{ item.SellerName }}</td>
                <td>{{ item.ItemCode }}</td>
                <td>{{ item.Status }}</td>
                <td>
                    {{ item.OrderDate }}
                </td>
                <td>
                    <button class="btn btn-secondary" [routerLink]="['./order-details/', item.PurchaseOrderNumber]" title="Edit">
                        <i class="fa fa-eye" aria-hidden="true"></i>
                    </button>
                </td>
            </tr>
        </tbody>

        <tbody *ngIf=" !orders || orders.length === 0 ">
            <tr>
                <td colspan="9">
                    <strong>There are no orders!</strong>
                </td>
            </tr>
        </tbody>

        <tfoot *ngIf=" orders && orders.length > 10 ">
            <tr>
                <td colspan="9">
                    <mfBootstrapPaginator [rowsOnPageSet]="[5,10,25]"></mfBootstrapPaginator>
                </td>
            </tr>
        </tfoot>
    </table>
</div>