<div class="row top20 clearfix fadeIn animated">
	<div class="col-12">

		<div class="catSearch clearfix card-header">
			<h2 class="card-title ">
				Manage Orders
			</h2>
		</div>

		<div class="filters card fadeIn animated">
			<div class="card-body no_top_padding">
				<form class="row order-search-form" [formGroup]="searchProductForm" (ngSubmit)=" searchProduct(searchProductForm.value) ">

					<div class="form-group col-3">
						<label for="programName" class="text-right">
							Program Name
							<i class="fa fa-question-circle" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="A program name."></i>
						</label>
						<select id="programName" class="form-control" formControlName="programName">
							<option value="all">All</option>
							<option *ngFor="let item of programName" value="{{ item }}">
								{{ item }}
							</option>
						</select>
					</div>

					<div class="form-group col-3">
						<label for="supplierName" class="text-right">
							Supplier Name
							<i class="fa fa-question-circle" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="Search by a specific Supplier Name."></i>
						</label>
						<select id="supplierName" class="form-control" formControlName="supplierName">
							<option value="all">All</option>
							<option *ngFor="let item of stores" value="{{ item }}">
								{{ item }}
							</option>
						</select>
					</div>

					<div class="form-group col-3">
						<label for="startDate" class="text-right">
							Start Date
							<i class="fa fa-question-circle" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="Select Start Date for search."></i>
						</label>
						<my-date-picker id="startDate" class="no_padding" name="startDate" [options]="myDatePickerOptions" formControlName="startDate">
						</my-date-picker>
					</div>

					<div class="form-group col-3">
						<label for="endDate" class="text-right">
							End Date
							<i class="fa fa-question-circle" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="Select End Date for search."></i>
						</label>
						<my-date-picker id="endDate" class="no_padding" name="endDate" [options]="myDatePickerOptions" formControlName="endDate">
						</my-date-picker>
					</div>

					<div class="form-group col-3">
						<label for="orderStatus" class="text-right">
							Order status
							<i class="fa fa-question-circle" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="Search by Order status."></i>
						</label>
						<angular2-multiselect id="orderStatus" [data]="orderStatus" formControlName="orderStatus" [settings]="orderStatusDropdownSettings">
						</angular2-multiselect>
					</div>

					<div class="form-group col-3">
						<label for="poNumber" class="text-right">
							 PO Number
							<i class="fa fa-question-circle" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="Search by PO Number."></i>
						</label>
						<input type="text" id="poNumber" class="form-control" formControlName="poNumber">
					</div>

					<div class="form-group col-3">
						<div class="rtoCheck">
							<input type="checkbox" id="rtoCheck" formControlName="rtoCheck">
							<label for="rtoCheck" class="text-right">
								RTO Orders
								<i class="fa fa-question-circle" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="Include RTO Orders in search."></i>
							</label>
						</div>
					</div>

					<div class="form-group col-12 searchButton">
						<button type="submit" class="btn btn-primary">
							<i class="fa fa-search" aria-hidden="true"></i>
							Search
						</button>
						<span class="btn btn-primary" (click)="resetForm()">
							<i class="fa fa-refresh" aria-hidden="true"></i>
							Reset
						</span>
					</div>

				</form>
			</div>
		</div>

		<div class="spacer col-12"></div>

		<div class="filters card col-12">
			<div class="card-body pos_relative no_left_padding no_right_padding">

				<div class="loader-container pos_absolute" *ngIf="bigLoader">
					<img src="assets/img/ajax-loader.gif" alt="Loader Image">
				</div>
				 <!-- [ngClass]="{ 'disabled': products && products.length === 0 }" -->
				<button class="btn btn-info deleteSelectedButton">
					<i class="fa fa-download" aria-hidden="true"></i>
					Export
				</button>

				<table class="table table-bordered table-responsive" [mfData]="orders" #mf="mfDataTable" [mfRowsOnPage]="10">
					<thead class="black-muted-bg">
						<tr>
							<th class="text-left orderno">
								<strong>PO No.</strong>
							</th>
							<th class="customer">
								<strong>Member Name</strong>
							</th>
							<th>
								<strong>Mobile</strong>
							</th>
							<th>
								<strong>Email</strong>
							</th>
							<th>
								<strong>item Code</strong>
							</th>
							<th class="store">
								<strong>PO Status</strong>
							</th>
							<th class="createDate">
								<strong>PO Date</strong>
							</th>
							<th class="action text-center">
								<strong>Action</strong>
							</th>
						</tr>
					</thead>
					<tbody *ngIf=" orders && orders.length > 0 ">
						<tr *ngFor=" let item of mf.data; let i = index; ">
							<td class="text-left">
								{{ item.no }}
							</td>
							<td class="customer">{{ item.customerInfo.name }}</td>
							<td>{{ item.customerInfo.phone }}</td>
							<td>
								({{ item.customerInfo.email }})
							</td>
							<td>{{ item.guid }}</td>
							<td class="order-status">
								<span [class.processing]="item.orderStatus.toLowerCase() == 'processing'" [class.pending]="item.orderStatus.toLowerCase() == 'pending'"
									[class.delivered]="item.orderStatus.toLowerCase() == 'delivered'">
									{{ item.orderStatus }}
								</span>
							</td>
							<td>
								{{ item.createdOn | date: 'shortDate' }}
							</td>
							<td class="action">
								<button class="btn btn-secondary" [routerLink]="['./order-details/', item.id]" title="View or Edit Details">
									<i class="fa fa-pencil-square-o" aria-hidden="true"></i>
									View / Edit
								</button>
							</td>
						</tr>
					</tbody>

					<tbody *ngIf=" orders && orders.length === 0 ">
						<tr>
							<td colspan="8">
								<strong>There are no orders!</strong>
							</td>
						</tr>
					</tbody>

					<tfoot *ngIf=" orders && orders.length > 10 ">
						<tr>
							<td colspan="8">
								<mfBootstrapPaginator [rowsOnPageSet]="[5,10,25]"></mfBootstrapPaginator>
							</td>
						</tr>
					</tfoot>
				</table>
			</div>

		</div>

	</div>
</div>