<div class="row top20 clearfix fadeIn animated">
	<div class="col-12">

		<div class="catSearch clearfix card-header">
			<h2 class="card-title ">
				Manage Orders
			</h2>
		</div>

		<div class="filters card fadeIn animated">
			<div class="card-body no_top_padding">
				<form class="row order-search-form" [formGroup]="searchProductForm" (ngSubmit)=" searchProduct(searchProductForm.value) ">

					<div class="form-group col-3">
						<label for="programName" class="text-right">
							Program Name
							<i class="fa fa-info-circle" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="A program name."></i>
						</label>
						<select id="programName" class="form-control" formControlName="e.programName">
							<!-- <option value="all">All</option> -->
							<option *ngFor="let item of programName" value="{{ item }}">
								{{ item }}
							</option>
						</select>
					</div>

					<div class="form-group col-3" *ngIf="vendorsList">
						<label for="supplierName" class="text-right">
							Vendor Name
							<i class="fa fa-info-circle" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="Search by a specific Vendor Name."></i>
						</label>
						<angular2-multiselect id="supplierName" [data]="vendorsList" formControlName="e.sellerId" [settings]="orderStatusDropdownSettings">
						</angular2-multiselect>
					</div>

					<div class="form-group col-3">
						<label for="startDate" class="text-right">
							Start Date
							<i class="fa fa-info-circle" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="Select Start Date for search."></i>
						</label>
						<my-date-picker id="startDate" class="no_padding" name="startDate" [options]="myDatePickerOptions" formControlName="e.orderFromDate">
						</my-date-picker>
					</div>

					<div class="form-group col-3">
						<label for="endDate" class="text-right">
							End Date
							<i class="fa fa-info-circle" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="Select End Date for search."></i>
						</label>
						<my-date-picker id="endDate" class="no_padding" name="endDate" [options]="myDatePickerOptions" formControlName="e.orderTillDate">
						</my-date-picker>
					</div>

					<div class="form-group col-3">
						<label for="orderStatus" class="text-right">
							Order status
							<i class="fa fa-info-circle" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="Search by Order status."></i>
						</label>
						<angular2-multiselect id="orderStatus" [data]="orderStatus" formControlName="e.status" [settings]="orderStatusDropdownSettings">
						</angular2-multiselect>
					</div>

					<div class="form-group col-3">
						<label for="poNumber" class="text-right">
							 PO Number
							<i class="fa fa-info-circle" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="Search by PO Number."></i>
						</label>
						<input type="text" id="poNumber" class="form-control" formControlName="e.purchaseOrderNumber">
					</div>

					<!-- <div class="form-group col-3">
						<div class="rtoCheck">
							<input type="checkbox" id="rtoCheck" formControlName="rtoCheck">
							<label for="rtoCheck" class="text-right">
								RTO Orders
								<i class="fa fa-info-circle" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="Include RTO Orders in search."></i>
							</label>
						</div>
					</div> -->

					<div class="form-group col-12 searchButton">
						<button type="submit" class="btn btn-primary">
							<i class="fa fa-search" aria-hidden="true"></i>
							Search
						</button>
						<img width="35" height="35" *ngIf="searchLoader" src="assets/img/ajax-loader.gif" alt="Loader Image">
						<span class="btn btn-primary" (click)="resetForm()">
							<i class="fa fa-refresh" aria-hidden="true"></i>
							Reset
						</span>
					</div>

				</form>
			</div>
		</div>

		<div class="spacer col-12"></div>

		<div class="filters card col-12">
			<div class="card-body pos_relative no_left_padding no_right_padding">

				<div class="loader-container pos_absolute" *ngIf="bigLoader">
					<img src="assets/img/ajax-loader.gif" alt="Loader Image">
				</div>
				 <!-- [ngClass]="{ 'disabled': products && products.length === 0 }" -->
				<button class="btn btn-info deleteSelectedButton" (click)="exportOrders()">
					<i class="fa fa-download" aria-hidden="true"></i>
					Export
				</button>

				<table class="table table-bordered table-responsive" [mfData]="orders" #mf="mfDataTable" [mfRowsOnPage]="10">
  <thead class="black-muted-bg">
    <tr>
      <!-- <th class="text-center">
          <input [class.disabled]="orders && orders.length === 0" type="checkbox" [ngModel]='selectAllCheckbox' (change)="selectAll($event)">
      </th> -->
      <th class="text-left">
        <strong>PO No.</strong>
      </th>
      <!-- <th class="customer">
        <strong>Member Name</strong>
      </th>
      <th>
        <strong>Mobile</strong>
      </th>
      <th>
        <strong>Email</strong>
      </th>-->
      <th>
        <strong>Status</strong>
      </th>
      <th class="createDate">
        <strong>PO Date</strong>
      </th>
    </tr>
  </thead>
  <tbody *ngIf=" orders && orders.length > 0 ">
    <tr *ngFor=" let item of mf.data; let i = index; ">
      <!-- <td class="text-center">
          <input [ngModel]="item.isChecked" type="checkbox" (change)="checkBoxSelected($event, item)">
      </td> -->
      <td class="text-left">
        {{ item.PurchaseOrderNumber }}
      </td>
      <!-- <td class="customer">{{ item.customerInfo.name }}</td> -->
      <!-- <td>{{ item.customerInfo.phone }}</td> -->
      <!-- <td class="no-text-transform">
        {{ item.customerInfo.email }}
      </td>-->
      <td>{{ item.Status }}</td>
      <td>
        {{ item.OrderDate | date: 'shortDate' }}
      </td>
    </tr>
  </tbody>

  <tbody *ngIf=" orders && orders.length === 0 ">
    <tr>
      <td colspan="6">
        <strong>There are no orders!</strong>
      </td>
    </tr>
  </tbody>

  <tfoot *ngIf=" orders && orders.length > 10 ">
    <tr>
      <td colspan="6">
        <mfBootstrapPaginator [rowsOnPageSet]="[5,10,25]"></mfBootstrapPaginator>
      </td>
    </tr>
  </tfoot>
</table>
			</div>

		</div>

	</div>
</div>