<div class="card" *ngIf="!orderInfo">
  <div class="card-body">
    <p>
      Shipping info is not available.
    </p>
  </div>
</div>

<div class="card" *ngIf="orderInfo">
  <div class="card-body">
    <form [formGroup]="shippingInfoForm" (ngSubmit)=" updateShippingInfoForm(shippingInfoForm.value) ">

      <div class="info-record row rto-report">
        <div class="col-3 text-right bold">
          RTO Report
          <i class="fa fa-question-circle" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="The customer who placed this order."></i>
        </div>
        <div class="col-5">
          <input type="checkbox" formControlName="rtoReport">
        </div>
      </div>

      <div class="info-record row rto-report">
        <div class="col-3 text-right bold">
          Comments
          <i class="fa fa-question-circle" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="The customer who placed this order."></i>
        </div>
        <div class="col-5">
          <textarea id="comments" cols="30" rows="10" class="form-control" formControlName="comments"></textarea>
        </div>
      </div>

      <div class="info-record row">
        <div class="col-3 text-right bold">
          AWB Number
          <i class="fa fa-question-circle" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="The customer who placed this order."></i>
        </div>
        <div class="col-5">
          <input type="text" class="form-control" formControlName="AWBNumber">
        </div>
      </div>

      <div class="info-record row">
        <div class="col-3 text-right bold">
          Courier Name
          <i class="fa fa-question-circle" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="Customer IP address from where order has been placed."></i>
        </div>
        <div class="col-5">
          <input type="text" class="form-control" formControlName="courierName">
        </div>
      </div>

      <div class="info-record row">
        <div class="col-3 text-right bold">
          Dispatch Date
          <i class="fa fa-question-circle" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="The subtotal of this order."></i>
        </div>
        <div class="col-5">
          <my-date-picker formControlName="dispatchDate" class="no_padding" [options]="myDatePickerOptions">
          </my-date-picker>
        </div>
      </div>

      <div class="info-record row">
        <div class="col-3 text-right bold">
          Delivery Date
          <i class="fa fa-question-circle" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="The total shipping cost for this order."></i>
        </div>
        <div class="col-5">
          <my-date-picker formControlName="deliveryDate" class="no_padding" [options]="myDatePickerOptions">
          </my-date-picker>
        </div>
      </div>

      <div class="form-group row searchButton">
        <div class="col-3"></div>
        <div class="col-5">
          <button type="submit" class="btn btn-primary">
            <i class="fa fa-wrench" aria-hidden="true"></i>
            Update
          </button>
          <span class="btn btn-primary" (click)="resetForm()">
            <i class="fa fa-refresh" aria-hidden="true"></i>
            Reset
          </span>
        </div>
      </div>

    </form>

  </div>
</div>