<div class="animated fadeIn card addCategory">
    <div class="card-header clearfix">
        <h2 class="card-title">Import from excel</h2>
        <button type="button" class="close" (click)=" closeModal(false) " aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

    <div class="card-body">
        <p *ngIf="validationError" class="error">Please resolve following errors in excel:</p>
        <div *ngIf="validationError" class="alert alert-danger">
            <ul class="no_margin">
                <li *ngFor="let item of validationError">
                    Row: {{ item.Error }}, Field: {{ item.Meta }}
                </li>
            </ul>
        </div>

        <p *ngIf="blankFileError" class="error">
            <em>
                File is Blank !
            </em>
        </p>
        <form>
            <div class="form-group">
                <label for="ExcelFile" class="text-right">Excel File</label>
                <input type="file" class="form-control" id="ExcelFile" (change)="handleFile($event)" accept=".xlsx, .xls">
                <a target="_blank" href="assets/samples/sampleProductsOperations.xlsx" class="text-decoration btn-link float-right">Download Template</a>
                <a target="_blank" *ngIf="errorData.length>0" href="javascript:void(0)" (click)="downloadFile()" class="error text-decoration btn-link">Download Error Report</a>
            </div>
            <div class="form-group">
                <button class="btn btn-success" [disabled]=" submitDisabled " (click)="uploadFile($event, 'save')">Save</button>
                <button class="btn btn-primary" [disabled]=" submitDisabled " (click)="uploadFile($event, 'submit')">
                    Submit
                </button>
                <img *ngIf=" showLoader " src="assets/img/ajax-loader.gif" alt="Loader Image" width="35" height="35">
            </div>
        </form>
    </div>
</div>
