<div class="card" *ngIf="orderInfo">
  <div class="card-body">

    <div class="info-record row">
      <div class="col-3 text-right bold">
        Order status
        <i class="fa fa-info-circle" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="Order status"></i>
      </div>
      <div class="col-9">
        <span class="bold" *ngIf="orderInfo.Status">
            {{ orderInfo.Status }}
        </span>
        <span *ngIf="orderCancelled" class="bold error">
           : Order Cancelled
        </span>
        <button class="btn btn-danger" (click)="showCancelForm = true" *ngIf="!showCancelForm">Cancel Order</button>
        <!-- <button class="btn btn-info">Change Status</button> -->
      </div>
        <div class="col-3"></div>
        <div class="col-9 cancelForm">
            <form *ngIf="showCancelForm" [formGroup]=" cancelForm " (ngSubmit)=" cancelOrder(cancelForm.value) ">
                <input type="hidden" formControlName="PurchaseOrderNumber">
                <input placeholder="Reason" type="text" class="form-control" formControlName="Reason">
                <textarea placeholder="Comments" cols="30" rows="3" class="form-control" formControlName="Comments"></textarea>
                <button type="submit" class="btn btn-danger">
                    Cancel Order
                </button>
                <span>
                    <img src="assets/img/ajax-loader.gif" width="40" height="40" alt="Loder Image" *ngIf="cancelLoader">
                </span>
            </form>
        </div>
    </div>

    <div class="info-record row">
      <div class="col-3 text-right bold">
        Order PO Number
        <i class="fa fa-info-circle" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="The unique number of this order."></i>
      </div>
      <div class="col-9">
        <span *ngIf="orderInfo.PurchaseOrderNumber">
          {{ orderInfo.PurchaseOrderNumber }}
        </span>
      </div>
    </div>

    <div class="info-record row">
      <div class="col-3 text-right bold">
        Order Code
        <i class="fa fa-info-circle" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="Internal reference for order."></i>
      </div>
      <div class="col-9">
        <span *ngIf="orderInfo.PurchaseOrderId">
          {{ orderInfo.PurchaseOrderId }}
        </span>
      </div>
    </div>

    <div class="info-record row">
      <div class="col-3 text-right bold">
        Seller
        <i class="fa fa-info-circle" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="A store name in which this order was placed."></i>
      </div>
      <div class="col-9">
        <span *ngIf="orderInfo.SellerName">
          {{ orderInfo.SellerName }}
        </span>
      </div>
    </div>

  </div>
</div>

<div class="card" *ngIf="orderInfo">
  <div class="card-body">

    <div class="info-record row" *ngIf="orderInfo.ContactDetails">
      <div class="col-3 text-right bold">
        Customer
        <i class="fa fa-info-circle" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="The customer who placed this order."></i>
      </div>
      <div class="col-9">
        <span *ngIf="orderInfo.ContactDetails">
          {{ orderInfo.ContactDetails.name }}
        </span>
        <span *ngIf="orderInfo.ContactDetails">
          ({{ orderInfo.ContactDetails.email }})
        </span>
      </div>
    </div>

    <!-- <div class="info-record row">
      <div class="col-3 text-right bold">
        Customer IP address
        <i class="fa fa-info-circle" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="Customer IP address from where order has been placed."></i>
      </div>
      <div class="col-9">
        <span *ngIf="orderInfo.customerInfo.ipAddress">
          {{ orderInfo.customerInfo.ipAddress }}
        </span>
      </div>
    </div> -->

    <div class="info-record row">
      <div class="col-3 text-right bold">
        Order subtotal
        <i class="fa fa-info-circle" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="The subtotal of this order."></i>
      </div>
      <div class="col-9">
        <span *ngIf="orderInfo.BookingDetails.TotalRetailPrice">
          {{ orderInfo.BookingDetails.TotalRetailPrice | currency: 'INR': true }}
        </span>
      </div>
    </div>

    <div class="info-record row">
      <div class="col-3 text-right bold">
        Order shipping
        <i class="fa fa-info-circle" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="The total shipping cost for this order."></i>
      </div>
      <div class="col-9">
        <span *ngIf="orderInfo.BookingDetails.UnitNetShippingPrice">
          {{ orderInfo.BookingDetails.UnitNetShippingPrice | currency: 'INR': true }}
        </span>
      </div>
    </div>

    <div class="info-record row">
      <div class="col-3 text-right bold">
        Order total
        <i class="fa fa-info-circle" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="The total cost of this order (includes discounts, shipping and tax)."></i>
      </div>
      <div class="col-9">
        <span *ngIf="orderInfo.BookingDetails.TotalRetailPriceIncludingTaxes">
            {{ orderInfo.BookingDetails.TotalRetailPriceIncludingTaxes | currency: 'INR': true }}
        </span>
      </div>
    </div>

    <!-- <div class="info-record row">
      <div class="col-3 text-right bold">
        Payment method
        <i class="fa fa-info-circle" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="The payment method used for this transaction. You can manage Payment Methods from Configuration : Payment : Payment Methods."></i>
      </div>
      <div class="col-9">
        <span *ngIf="orderInfo.paymentMethod">
          {{ orderInfo.paymentMethod }}
        </span>
      </div>
    </div> -->

  </div>
</div>

<div class="card" *ngIf="orderInfo">
  <div class="card-body">

    <!-- <div class="info-record row">
      <div class="col-3 text-right bold">
        Payment status
        <i class="fa fa-info-circle" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="The status of the payment."></i>
      </div>
      <div class="col-9">
        <span *ngIf="orderInfo.paymentStatus">
          {{ orderInfo.paymentStatus }}
        </span>
      </div>
    </div> -->

    <div class="info-record row">
      <div class="col-3 text-right bold">
        Order Date
        <i class="fa fa-info-circle" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="The date/time the order was placed/created."></i>
      </div>
      <div class="col-9">
        <span *ngIf="orderInfo.OrderDate">
          {{ orderInfo.OrderDate | date: 'medium' }}
        </span>
      </div>
    </div>

  </div>
</div>