<div class="card" *ngIf="orderInfo">
    <div class="card-body">

        <div class="info-record row">
            <div class="col-3 text-right bold">
                Order status
                <i class="fa fa-info-circle" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="Order status"></i>
            </div>
            <div class="col-9">
                <span class="bold" *ngIf="orderInfo.Status">
                    {{ orderInfo.Status || 'NA' }}
                </span>
                <span *ngIf="orderCancelled" class="bold error">
                    : Order Cancelled
                </span>
                <button class="btn btn-danger" (click)="cancelOrderButton()" *ngIf="!hideCancelButton">Cancel Order</button>
                <button class="btn btn-info" (click)="markRTOButton()" *ngIf="!hideRTOButton">Mark RTO</button>
            </div>
            <div class="col-3"></div>
            <div class="col-9 cancelForm">
                <form *ngIf="showCancelForm" [formGroup]=" cancelForm " (ngSubmit)=" cancelOrder(cancelForm.value) ">
                    <input type="hidden" formControlName="PurchaseOrderNumber">
                    <input placeholder="Reason" type="text" class="form-control" formControlName="Reason">
                    <textarea placeholder="Comments" cols="30" rows="3" class="form-control" formControlName="Comments"></textarea>
                    <button [disabled]=" !cancelForm.valid" type="submit" class="btn btn-danger">
                        Cancel Order
                    </button>
                    <span *ngIf="cancelError" class="error">
                        Could not cancel order!
                    </span>
                    <span>
                        <img src="assets/img/ajax-loader.gif" width="40" height="40" alt="Loder Image" *ngIf="cancelLoader">
                    </span>
                </form>
            </div>
            <div class="col-3"></div>
            <div class="col-9 cancelForm">
                <form *ngIf="showRTOForm" [formGroup]=" rtoForm " (ngSubmit)=" markRTO(rtoForm.value) ">
                    <input type="hidden" formControlName="PurchaseOrderNumber">
                    <input placeholder="Reason" type="text" class="form-control" formControlName="Reason">
                    <button [disabled]=" !rtoForm.valid" type="submit" class="btn btn-danger">
                        Mark RTO
                    </button>
                    <span *ngIf="markRTOError" class="error">
                        Could not mark RTO!
                        <span *ngIf="this.rtoErrorMessage">
                            {{ this.rtoErrorMessage }}
                        </span>
                    </span>
                    <span>
                        <img src="assets/img/ajax-loader.gif" width="40" height="40" alt="Loder Image" *ngIf="cancelLoader">
                    </span>
                </form>
            </div>
        </div>

        <div class="info-record row">
            <div class="col-3 text-right bold">
                Order PO Number
                <i class="fa fa-info-circle" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="The unique number of this order."></i>
            </div>
            <div class="col-9">
                <span *ngIf="orderInfo.PurchaseOrderNumber">
                    {{ orderInfo.PurchaseOrderNumber || 'NA' }}
                </span>
            </div>
        </div>

        <div class="info-record row">
            <div class="col-3 text-right bold">
                Order Id
                <i class="fa fa-info-circle" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="Internal reference for order."></i>
            </div>
            <div class="col-9">
                <span *ngIf="orderInfo.PurchaseOrderId" class="no-text-transform">
                    {{ orderInfo.PurchaseOrderId }}
                </span>
            </div>
        </div>

        <div class="info-record row">
            <div class="col-3 text-right bold">
                Seller
                <i class="fa fa-info-circle" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="A store name in which this order was placed."></i>
            </div>
            <div class="col-9">
                <span *ngIf="orderInfo.SellerName">
                    {{ orderInfo.SellerName || 'NA' }}
                </span>
            </div>
        </div>

    </div>
</div>

<div class="card" *ngIf="orderInfo">
    <div class="card-body">

        <div class="info-record row" *ngIf="orderInfo.ContactDetails">
            <div class="col-3 text-right bold">
                Customer
                <i class="fa fa-info-circle" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="The customer who placed this order."></i>
            </div>
            <div class="col-9">
                <span *ngIf="orderInfo.ContactDetails">
                    {{ orderInfo.ContactDetails.FirstName }}
                </span>
                <span *ngIf="orderInfo.ContactDetails">
                    {{ orderInfo.ContactDetails.LastName }}
                </span>
            </div>
        </div>

        <div class="info-record row">
            <div class="col-3 text-right bold">
                Customer Email
                <i class="fa fa-info-circle" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="The customer email who placed this order."></i>
            </div>
            <div class="col-9">
                <span *ngIf="orderInfo.ContactDetails" class="no-text-transform">
                    {{ orderInfo.ContactDetails.Email }}
                </span>
            </div>
        </div>


        <div class="info-record row">
            <div class="col-3 text-right bold">
                Customer Mobile
                <i class="fa fa-info-circle" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="The customer mobile number who placed this order."></i>
            </div>
            <div class="col-9">
                <span *ngIf="orderInfo.ContactDetails">
                    {{ orderInfo.ContactDetails.Mobile }}
                </span>
            </div>
        </div>

        <div class="info-record row">
            <div class="col-3 text-right bold">
                Customer Address
                <i class="fa fa-info-circle" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="The customer's address who placed this order."></i>
            </div>
            <div class="col-9">
                <span *ngIf="orderInfo.ShippingDetails" class="no-text-transform">
                    {{ orderInfo.ShippingDetails.Address1 }} {{ orderInfo.ShippingDetails.Address2 }}, {{ orderInfo.ShippingDetails.City }},
                    {{ orderInfo.ShippingDetails.State }}, {{ orderInfo.ShippingDetails.Pincode }}.
                </span>
            </div>
        </div>

        <!-- <div class="info-record row">
      <div class="col-3 text-right bold">
        Customer IP address
        <i class="fa fa-info-circle" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="Customer IP address from where order has been placed."></i>
      </div>
      <div class="col-9">
        <span *ngIf="orderInfo.customerInfo.ipAddress">
          {{ orderInfo.customerInfo.ipAddress }}
        </span>
      </div>
    </div> -->

        <div class="info-record row">
            <div class="col-3 text-right bold">
                Order subtotal
                <i class="fa fa-info-circle" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="The subtotal of this order."></i>
            </div>
            <div class="col-9">
                <span>
                    {{ orderInfo.BookingDetails ? (orderInfo.BookingDetails.TotalRetailPrice | currency: 'INR': true) :'NA' }}
                </span>
            </div>
        </div>

        <div class="info-record row">
            <div class="col-3 text-right bold">
                Order shipping
                <i class="fa fa-info-circle" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="The total shipping cost for this order."></i>
            </div>
            <div class="col-9">
                <span>
                    {{ orderInfo.BookingDetails ? (orderInfo.BookingDetails.UnitNetShippingPrice | currency: 'INR': true):'NA' }}
                </span>
            </div>
        </div>

        <div class="info-record row">
            <div class="col-3 text-right bold">
                Order total(RPI)
                <i class="fa fa-info-circle" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="The total cost of this order (includes discounts, shipping and tax)."></i>
            </div>
            <div class="col-9">
                <span *ngIf="orderInfo.BookingDetails && orderInfo.BookingDetails.TotalRetailPriceIncludingTaxes">
                    {{ orderInfo.BookingDetails.TotalRetailPriceIncludingTaxes | currency: 'INR': true }}
                </span>
            </div>
        </div>

        <!-- <div class="info-record row">
      <div class="col-3 text-right bold">
        Payment method
        <i class="fa fa-info-circle" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="The payment method used for this transaction. You can manage Payment Methods from Configuration : Payment : Payment Methods."></i>
      </div>
      <div class="col-9">
        <span *ngIf="orderInfo.paymentMethod">
          {{ orderInfo.paymentMethod }}
        </span>
      </div>
    </div> -->

    </div>
</div>

<div class="card" *ngIf="orderInfo">
    <div class="card-body">

        <!-- <div class="info-record row">
      <div class="col-3 text-right bold">
        Payment status
        <i class="fa fa-info-circle" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="The status of the payment."></i>
      </div>
      <div class="col-9">
        <span *ngIf="orderInfo.paymentStatus">
          {{ orderInfo.paymentStatus }}
        </span>
      </div>
    </div> -->

        <div class="info-record row">
            <div class="col-3 text-right bold">
                Order Date
                <i class="fa fa-info-circle" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="The date/time the order was placed/created."></i>
            </div>
            <div class="col-9">
                <span *ngIf="orderInfo.OrderDate">
                    {{ orderInfo.OrderDate | date: 'medium' }}
                </span>
            </div>
        </div>

    </div>
</div>
