.catSearch {
    .btn {
        &.btn-primary {
            background-color: #0275d8 !important;
            border-color: #0275d8 !important;
            margin-top: -6px;
        }

        & + .btn {
            margin-right: 10px;
        }
    }
}

label {
    margin-top: 10px;

    .fa[data-toggle='tooltip'] {
        color: #209e91;
        margin-left: 5px;
    }
}

button.searchButton {
    margin-top: 10px;
    margin-left: 0;
}

.form-group {
    select {
        text-transform: capitalize;
    }

    .btn {
        & + .btn {
            margin-left: 15px;
        }
    }
}

.product-image {
    width: 100px;
}

.action {
    width: 90px;
    min-width: 90px;
    text-align: center;
}

.deleteSelectedButton.float-right {
    margin-left: 5px;
}

.filters {
    > .card-body:first-child {
        padding-left: 0;
        padding-right: 0;
        padding-top: 10px;

        > p {
            margin-bottom: 0;
        }
    }
}

.approved,
.APPROVED {
    background-color: #00a65a;
    color: #fff;
}
.pending {
    background-color: #f39c12;
    color: #fff;
}
.Draft {
    background-color: #867fe8;
    color: #fff;
}
.rejected {
    background-color: #f00;
    color: #fff;
}
.dropDownAction {
    margin-bottom: 8px;

    button {
        margin-left: 10px;
    }
}

.no-action {
    margin-top: 5px;
    margin-bottom: 0;
    margin-left: 70px;
}

.loader-container img {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.spacer {
    margin-top: 15px;
}

.reject-comments {
    margin-left: 10px;
}
