<div class="row top20 clearfix fadeIn animated">
    <div class="col-12">

        <div class="catSearch clearfix card-header">
            <h2 class="card-title ">
                Manage Orders
                <button class="btn btn-primary float-right" (click)=" bulkCancel() ">
                    <i class="fa fa-download" aria-hidden="true"></i>
                    Bulk Cancel
                </button>
            </h2>
        </div>

        <div class="filters card fadeIn animated">
            <div class="card-body no_top_padding">
                <form class="row order-search-form" [formGroup]="searchProductForm" (ngSubmit)=" searchProduct(searchProductForm.value) ">

                    <div class="form-group col-3">
                        <label for="poNumber" class="text-right">
                            PO Number
                            <i class="fa fa-info-circle" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="Search by PO Number."></i>
                        </label>
                        <input type="text" id="poNumber" class="form-control" formControlName="e.purchaseOrderNumber">
                    </div>

                    <div class="form-group col-3" *ngIf="programName">
                        <label for="programName" class="text-right">
                            Program Name
                            <i class="fa fa-info-circle" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="A program name."></i>
                        </label>
                        <angular2-multiselect id="programName" [data]="programName" formControlName="e.programId" [settings]="orderStatusDropdownSettings">
                        </angular2-multiselect>
                    </div>

                    <div class="form-group col-3">
                        <label for="startDate" class="text-right">
                            Start Date
                            <i class="fa fa-info-circle" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="Select Start Date for search."></i>
                        </label>
                        <my-date-picker id="startDate" class="no_padding" name="startDate" [options]="myDatePickerOptions" formControlName="e.fromDate">
                        </my-date-picker>
                    </div>

                    <div class="form-group col-3">
                        <label for="endDate" class="text-right">
                            End Date
                            <i class="fa fa-info-circle" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="Select End Date for search."></i>
                        </label>
                        <my-date-picker id="endDate" class="no_padding" name="endDate" [options]="myDatePickerOptions" formControlName="e.toDate">
                        </my-date-picker>
                    </div>

                    <!-- <div class="form-group col-3">
                        <div class="rtoCheck">
                            <input type="checkbox" id="rtoCheck" formControlName="rtoCheck">
                            <label for="rtoCheck" class="text-right">
                                RTO Orders
                                <i class="fa fa-info-circle" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="Include RTO Orders in search."></i>
                            </label>
                        </div>
                    </div> -->

                    <div class="form-group col-3">
                        <label for="status" class="text-right">
                            Status
                            <i class="fa fa-info-circle" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="Search by status"></i>
                        </label>
                        <angular2-multiselect id="status" [data]="statusList" formControlName="e.status" [settings]="orderStatusDropdownSettings">
                        </angular2-multiselect>
                    </div>

                    <div class="form-group col-12 searchButton">
                        <button type="submit" class="btn btn-primary">
                            <i class="fa fa-search" aria-hidden="true"></i>
                            Search
                        </button>
                        <img width="35" height="35" *ngIf="searchLoader" src="assets/img/ajax-loader.gif" alt="Loader Image">
                        <span class="btn btn-primary" (click)="resetForm()">
                            <i class="fa fa-refresh" aria-hidden="true"></i>
                            Reset
                        </span>
                        <button type="button" class="btn btn-info searchButton" (click)="exportAllOrders(searchProductForm.value)">
                            <i class="fa fa-download" aria-hidden="true"></i>
                            Export All Orders
                        </button>
                    </div>

                </form>
            </div>
        </div>

        <div class="spacer col-12"></div>

        <div class="filters card col-12">
            <div class="card-body pos_relative no_left_padding no_right_padding">

                <div class="loader-container pos_absolute" *ngIf="bigLoader">
                    <img src="assets/img/ajax-loader.gif" alt="Loader Image">
                </div>

                <div class="tabs-section">
                    <!-- Tabs Top UI -->
                    <ul class="nav nav-tabs" role="tablist">
                        <li class="nav-item">
                            <a [class.active]="status === 'FRESH'" class="nav-link" href="#Fresh" role="tab" data-toggle="tab">Fresh</a>
                        </li>
                        <li class="nav-item">
                            <a [class.active]="status === 'PROCESSED'" class="nav-link " href="#Processed" role="tab" data-toggle="tab">Processed</a>
                        </li>
                        <li class="nav-item">
                            <a [class.active]="status === 'DISPATCHED'" class="nav-link " href="#Shipped" role="tab" data-toggle="tab">Dispatched</a>
                        </li>
                        <li class="nav-item">
                            <a [class.active]="status === 'DELIVERED'" class="nav-link " href="#Delivered" role="tab" data-toggle="tab">Delivered</a>
                        </li>
                        <li class="nav-item">
                            <a [class.active]="status === 'RTO'" class="nav-link " href="#RTO" role="tab" data-toggle="tab">RTO</a>
                        </li>
                        <li class="nav-item">
                            <a [class.active]="status === 'CANCEL'" class="nav-link " href="#Cancel" role="tab" data-toggle="tab">Cancelled</a>
                        </li>
                    </ul>
                </div>

                <div class="tab-content col-12 no_left_padding no_right_padding" *ngIf="orders && orders.length > 0">
                    <div [class.active]="status === 'FRESH'" role="tabpanel" class="tab-pane fade in" id="Fresh">
                        <app-fresh  [orders]="orders" class="col-12" (onStatusChange)="childStatusChanged($event)"></app-fresh>
                    </div>
                    <div [class.active]="status === 'PROCESSED'" role="tabpanel" class="tab-pane fade in" id="Processed">
                        <app-processed [orders]="orders" class="col-12" (onStatusChange)="childStatusChanged($event)"></app-processed>
                    </div>
                    <div [class.active]="status === 'DISPATCHED'" role="tabpanel" class="tab-pane fade in " id="Shipped">
                        <app-shipped [orders]="orders" class="col-12" (onStatusChange)="childStatusChanged($event)"></app-shipped>
                    </div>
                    <div [class.active]="status === 'DELIVERED'" role="tabpanel" class="tab-pane fade in" id="Delivered">
                        <app-delivered [orders]="orders" class="col-12" (onStatusChange)="childStatusChanged($event)"></app-delivered>
                    </div>
                    <div [class.active]="status === 'RTO'" role="tabpanel" class="tab-pane fade in" id="RTO">
                        <app-rto [orders]="orders" class="col-12" (onStatusChange)="childStatusChanged($event)"></app-rto>
                    </div>
                    <div [class.active]="status === 'CANCEL'" role="tabpanel" class="tab-pane fade in" id="Cancel">
                        <app-cancellled [orders]="orders" class="col-12" (onStatusChange)="childStatusChanged($event)"></app-cancellled>
                    </div>
                </div>
                <div class="no-orders" *ngIf="!orders || orders.length === 0">
                    <p class="text-center">
                        <strong>
                             Sorry! There are no orders!
                        </strong>
                    </p>
                </div>
            </div>

        </div>

    </div>
</div>
