<div class="row pos_relative">
    <div class="loader-container pos_absolute" *ngIf="productsLoader">
        <img src="assets/img/ajax-loader.gif" alt="Loader Image">
    </div>
    <div class="col-md-12">
        <button class="btn btn-primary" (click)="exportAllProducts()" [class.disabled]="!allMapProducts || allMapProducts.length === 0">
            <i class="fa fa-download" aria-hidden="true"></i>
            Export
        </button>
        <table class="table table-bordered table-responsive" [mfData]="allMapProducts" #mfMapProList="mfDataTable" [mfRowsOnPage]="10">
            <thead class="black-muted-bg">
                <tr>
                    <th class="text-left">
                        <mfDefaultSorter by="Name">
                            <strong>Name</strong>
                        </mfDefaultSorter>
                    </th>
                    <th class="text-left">
                        <strong>Retail Price</strong>
                    </th>
                    <th>
                        <strong>Retail Shipping Price</strong>
                    </th>
                    <th>
                        <strong>Retail Price Inclusive</strong>
                    </th>
                    <th class="text-left">
                        <strong>Discount Type</strong>
                    </th>
                    <th class="text-left">
                        <strong>Discount</strong>
                    </th>
                    <th>
                        <strong>Featured Product</strong>
                    </th>
                </tr>
            </thead>
            <tbody *ngIf=" allMapProducts && allMapProducts.length > 0 ">
                <tr *ngFor=" let item of mfMapProList.data; let i = index ">
                    <td class="text-left">
                        {{ item.ProductName }}
                    </td>
                    <td class="text-center">
                        {{item.RetailPrice}}
                    </td>
                    <td class="text-center">
                        {{item.RetailShippingPrice}}
                    </td>
                    <td class="text-center">
                        {{item.RetailPriceInclusive}}
                    </td>
                    <td>
                        {{item.DiscountType}}
                    </td>
                    <td class="text-center">
                        {{item.Discount}}
                    </td>
                    <td class="text-center">
                        <span *ngIf="item.IsFeaturedProduct">Yes</span>
                        <span *ngIf="!item.IsFeaturedProduct">No</span>
                    </td>
                </tr>
            </tbody>
            <tbody *ngIf="allMapProducts && allMapProducts.length < 1 ">
                <tr>
                    <td colspan="7" class="text-center">
                        <strong>No Products Added</strong>
                    </td>
                </tr>
            </tbody>
            <tfoot *ngIf="allMapProducts && allMapProducts.length > 10 ">
                <tr>
                    <td colspan="7">
                        <mfBootstrapPaginator [rowsOnPageSet]="[5,10,25]"></mfBootstrapPaginator>
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>
</div>