<div class="animated fadeIn card addCategory">
    <div class="card-header clearfix">
        <h2 class="card-title">Update Order Status</h2>
        <button type="button" class="close" (click)=" closeModal(false) " aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

    <div class="card-body">
        <form class="col-12" [formGroup]=" updateStatusForm " (ngSubmit)=" updateStatus(updateStatusForm.value) ">
            <div class="form-group row" [class.disabled]="true">
                <label for="PurchaseOrderNumber" class="col-3 text-right">PO Number
                    <span class="mandatory">*</span>
                </label>
                <input type="text" class="form-control col-9" id="name" placeholder="PurchaseOrderNumber" formControlName="PurchaseOrderNumber">
            </div>
            <div class="form-group row">
                <label for="DispatchDate" class="col-3 text-right">Dispatch Date
                    <span class="mandatory">*</span>
                </label>
                <my-date-picker id="DispatchDate" class="col-9 no_padding" name="DispatchDate" [options]="myDatePickerOptions" formControlName="DispatchDate">
                </my-date-picker>
            </div>
            <div class="form-group row">
                <label for="TrackingNo" class="col-3 text-right">Tracking No
                    <span class="mandatory">*</span>
                </label>
                <input type="text" class="form-control col-9" id="TrackingNo" placeholder="Tracking No" formControlName="TrackingNo">
            </div>
            <div class="form-group row">
                <label for="CourierName" class="col-3 text-right">Courier Name
                    <span class="mandatory">*</span>
                </label>
                <input type="text" class="form-control col-9" id="CourierName" placeholder="Courier Name" formControlName="CourierName">
            </div>
            <div class="form-group">
                <button class="btn btn-primary" [disabled]=" !showLoader " [disabled]=" !updateStatusForm.valid || showLoader ">Submit</button>
                <img *ngIf=" showLoader " src="assets/img/ajax-loader.gif" alt="Loader Image" width="35" height="35">
                <button class="btn btn-secondary" type="button" (click)="closeModal(false)">Cancel</button>
            </div>
        </form>
    </div>
</div>