<div class="loader-container pos_absolute" *ngIf="showLoader">
    <img src="assets/img/ajax-loader.gif" alt="Loader Image">
</div>
<table class="table table-bordered table-responsive">
    <thead class="black-muted-bg">
        <tr>
            <th>Name</th>
            <!-- <th class="description">Description</th> -->
            <th>Parent Name</th>
            <th class="comment">Comment</th>
            <!-- <th>Action</th> -->
        </tr>
    </thead>
    <tbody *ngIf="unApprovedCategories && unApprovedCategories.length > 0">
        <tr *ngFor="let category of unApprovedCategories">
            <td>{{ category.Name }}</td>
            <!-- <td class="description">{{ category.Description }}</td> -->
            <td>{{ category.ParentCategoryName }}</td>
            <td class="comment">
                <form [formGroup]=" approvalForm " (ngSubmit)=" approveCategory(approvalForm.value, category) ">
                    <textarea cols="30" rows="3" class="form-control" formControlName="Reason"></textarea>
                    <button type="submit" class="btn btn-success">
                        Approve
                    </button>
                    <span>
                        <img src="assets/img/ajax-loader.gif" width="40" height="40" alt="Loder Image" *ngIf="category.approvalLoader">
                    </span>
                </form>
            </td>
        </tr>
    </tbody>
    <tfoot *ngIf="unApprovedCategories && unApprovedCategories.length === 0">
        <tr>
            <td colspan="4" class="text-center">
                There are no un-approved categories.
            </td>
        </tr>
    </tfoot>
</table>