.card{
    margin-bottom: 0px;
    .card-header{
        padding-top: 0px;
    }
}
.modal-body {
.form-group {
    margin-bottom: 5px;
}

	.form-group label {
		color: #000;
	}

	.form-control {
		color: #6b6b6b;
		background-color: transparent;
		border: 1px solid #e7e7e7;
	}

	.info-icon {
		display: inline-block;
		margin-left: 5px;
		font-size: 15px;

		&:before {
			color: #3e75b6;
		}
	}

	.modal-footer {
		justify-content: flex-start;
		padding: 15px 0;
	}

}

em.error {
	font-size: 12px;
	color: #ef1c1c;
}