<div class="animated fadeIn card addCategory">
    <div class="card-header clearfix">
        <h2 class="card-title">Import from excel</h2>
        <button type="button" class="close" (click)=" closeModal(false) " aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

    <div class="card-body">

        <p *ngIf="blankFileError" class="error">
            <em>
                File is Blank !
            </em>
        </p>
        <form>
            <div class="form-group">
                <label for="ExcelFile" class="text-right">Excel File</label>
                <input type="file" class="form-control" id="ExcelFile" (change)="handleFile($event)" accept=".xlsx, .xls">
                <a target="_blank" href="assets/samples/SellerProductsUpload.xlsx" class="text-decoration btn-link float-right">Download Template</a>
            </div>
            <a *ngIf="downloadIssue.length>0" target="_blank" href="javascript:void(0)" (click)="download()" class="error text-decoration btn-link float-left">Download Error Report</a>
            <div class="row col-md-12 uploadButton form-group">
                <button class="btn btn-primary" [disabled]=" submitDisabled || showLoader" (click)="uploadFile($event)">Save in Draft</button>
                <img *ngIf="showLoader" src="assets/img/ajax-loader.gif" alt="Loader Image" width="35" height="35">
                <button type="button" class="sendApproval btn btn-primary col-6" [disabled]=" submitDisabled || showLoader " (click)="sendApproval($event)">Send for approval</button>
            </div>
        </form>
    </div>
</div>