<div class="animated fadeIn card addCinema">

  <div class="card-header clearfix">
    <h2 class="card-title">
      Movie Details
      <span class="goBack float-right" [routerLink]="['/movie-management']">
        <i class="fa fa-arrow-circle-o-left" aria-hidden="true"></i> Back to movies list</span>
    </h2>
  </div>

  <div class="card-body">

    <div class="loader-container pos_absolute" *ngIf="bigLoader">
      <img src="assets/img/ajax-loader.gif" alt="Loader Image">
    </div>

    <div class="basic-info row" *ngIf="movieInfo">
      <div class="col-4">
        <div class="image-container">
          <img *ngIf="movieInfo.images" src="{{ movieInfo.images[0].url }}" alt="Movie Image" class="img-fluid">
          <img class="img-fluid" *ngIf="!movieInfo.images" src="assets/images/movies/no-preview.jpg" alt="Movie Image">
        </div>
      </div>
      <div class="col-8 movie-description">
        <div>
          <span class="bold">
            Title
            <i class="fa fa-question-circle" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="Title"></i>
          </span>
          <span>
            : {{ movieInfo.title }}
          </span>
        </div>
        <div>
          <span class="bold">
            Type
            <i class="fa fa-question-circle" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="Type"></i>
          </span>
          <span>
            : {{ movieInfo.type }}
          </span>
        </div>
        <div>
          <span class="bold">
            Language
            <i class="fa fa-question-circle" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="Language"></i>
          </span>
          <span>
            : {{ movieInfo.language }}
          </span>
        </div>
        <div>
          <span class="bold">
             Actor
            <i class="fa fa-question-circle" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="Actor"></i>
          </span>
          <span>
            : {{ movieInfo.actor }}
          </span>
        </div>
        <div>
          <span class="bold">
             Director
            <i class="fa fa-question-circle" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="Director"></i>
          </span>
          <span>
            : {{ movieInfo.director }}
          </span>
        </div>
        <div>
          <span class="bold">
            Synopsis
            <i class="fa fa-question-circle" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="Synopsis"></i>
          </span>
          <span>
            : {{ movieInfo.synopsis }}
          </span>
        </div>
        <div>
          <button class="btn btn-primary" [routerLink]="['/movie-management/edit-movie/', movieInfo.id]" title="Edit">
            Edit movie
          </button>
        </div>
      </div>
    </div>

  </div>
</div>

<div class="animated fadeIn card mapMovies">

  <div class="card-header clearfix">
    <h2 class="card-title">Map Movies</h2>
  </div>

  <div class="card-body movie-maps row">
    <div class="col-5">
      <table class="table table-bordered table-responsive" [mfData]="movies" #first="mfDataTable" [mfRowsOnPage]="10">
        <thead class="black-muted-bg">
          <tr>
            <th class="text-center">
              <input type="checkbox" [ngModel]='selectAllCheckboxUnMap' (change)="selectAll($event)">
            </th>
            <th class="text-left">
              <strong>Name</strong>
            </th>
            <th class="text-center">
              <strong>language</strong>
            </th>
            <th class="text-center">
              <strong>Provider</strong>
            </th>
          </tr>
        </thead>
        <tbody *ngIf=" movies && movies.length > 0 ">
          <tr *ngFor=" let item of first.data; let i = index ">
            <td class="text-center">
              <input [ngModel]="item.isChecked" type="checkbox" (change)="checkBoxSelected($event, item)">
            </td>
            <td class="text-left">
              {{ item.title }}
            </td>
            <td class="text-center">
              {{ item.language }}
            </td>
            <td class="text-center">{{ item.type }}</td>
          </tr>
        </tbody>
        <tbody *ngIf=" movies && movies.length === 0 ">
          <tr>
            <td colspan="5">
              <strong>There are no movies!</strong>
            </td>
          </tr>
        </tbody>
        <tfoot *ngIf=" movies && movies.length > 10 ">
          <tr>
            <td colspan="5">
              <mfBootstrapPaginator [rowsOnPageSet]="[5,10,25]"></mfBootstrapPaginator>
            </td>
          </tr>
        </tfoot>
      </table>
    </div>

    <div class="col-2 map-buttons text-center">
      <div>
        <button (click)="mapAMovie()" [ngClass]="{ 'disabled': !showMappingbuttons.map }" class="btn btn-primary">Map &#62;</button>
      </div>
      <div>
        <button (click)="unMapAMovie()" [ngClass]="{ 'disabled': !showMappingbuttons.unmap }" class="btn btn-info">&#60; Unmap</button>
      </div>
    </div>

    <div class="col-5">
      <table class="table table-bordered table-responsive" [mfData]="mappedMovies" #second="mfDataTable" [mfRowsOnPage]="10">
        <thead class="black-muted-bg">
          <tr>
            <th class="text-center">
              <input type="checkbox" [ngModel]='selectAllCheckboxMapped' (change)="selectAllMapped($event)">
            </th>
            <th class="text-left">
              <strong>Name</strong>
            </th>
            <th class="text-center">
              <strong>language</strong>
            </th>
            <th class="text-center">
              <strong>Provider</strong>
            </th>
          </tr>
        </thead>
        <tbody *ngIf=" mappedMovies && mappedMovies.length > 0 ">
          <tr *ngFor=" let item of second.data; let i = index ">
            <td class="text-center">
              <input [ngModel]="item.isChecked" type="checkbox" (change)="checkBoxSelected($event, item)">
            </td>
            <td class="text-left">
              {{ item.title }}
            </td>
            <td class="text-center">
              {{ item.language }}
            </td>
            <td class="text-center">{{ item.type }}</td>
          </tr>
        </tbody>
        <tbody *ngIf=" mappedMovies && mappedMovies.length === 0 ">
          <tr>
            <td colspan="5">
              <strong>There are no mapped movies!</strong>
            </td>
          </tr>
        </tbody>
        <tfoot *ngIf=" mappedMovies && mappedMovies.length > 10 ">
          <tr>
            <td colspan="5">
              <mfBootstrapPaginator [rowsOnPageSet]="[5,10,25]"></mfBootstrapPaginator>
            </td>
          </tr>
        </tfoot>
      </table>
    </div>

  </div>
</div>