<div class="animated fadeIn card addCinema">

  <div class="card-header clearfix">
    <h2 class="card-title">
      Movie Details
      <img *ngIf=" deleteLoader " class="float-right deleteLoader" src="assets/img/ajax-loader.gif" alt="Loader Image" width="35"
        height="35">

      <button *ngIf=" cinemaId " class="btn btn-danger float-right" (click)="deleteCinema()" [disabled]="deleteLoader">
        <i class="fa fa-trash-o" aria-hidden="true"></i>
        Delete
      </button>
      <span class="goBack float-right" [routerLink]="['/movie-management']">
        <i class="fa fa-arrow-circle-o-left" aria-hidden="true"></i> Back to cinema list</span>

    </h2>
  </div>