.fa[data-toggle="tooltip"] {
    color: #209e91;
}

.movie-description {
    >div {
        margin-bottom: 7px;
        span {
            line-height: 20px;
        }
    }
}

.form-group {
    label {
        margin-top: 10px;
    }
}

.searchbutton {
    margin-left: 10px;
}


.movie-maps {
    table {
        font-size: 12px;
    }
    .map-buttons {
        >div {
            margin-top: 15px;
            margin-bottom: 20px;
        }
    }
}

.basic-info-left {
    max-height: 280px;
    overflow: hidden;
    overflow-y: scroll;
}

.vertically-scroll {
    max-height: 750px;
    overflow-y: scroll;
    table {
        margin: 0;
    }
}

.tableLoader .loader-container img {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
