<button class="btn btn-info deleteSelectedButton" [class.disabled]="!showSelectedAction" (click)="exportProducts()">
  <i class="fa fa-download" aria-hidden="true"></i>
  Export
</button>

<button class="btn btn-info deleteSelectedButton pull-right" (click)="importOrders()">
  <i class="fa fa-download" aria-hidden="true"></i>
  Bulk Update to Delivered
</button>

<table class="table table-bordered table-responsive" [mfData]="orders" #mf="mfDataTable" [mfRowsOnPage]="10">
  <thead class="black-muted-bg">
    <tr>
      <th class="text-left orderno">
        <strong>PO No.</strong>
      </th>
      <!-- <th class="customer">
        <strong>Member Name</strong>
      </th>
      <th>
        <strong>Mobile</strong>
      </th>
      <th>
        <strong>Email</strong>
      </th> -->
      <th>
        <strong>Status</strong>
      </th>
      <th class="createDate">
        <strong>PO Date</strong>
      </th>
    </tr>
  </thead>
  <tbody *ngIf=" orders && orders.length > 0 ">
    <tr *ngFor=" let item of mf.data; let i = index; ">
      <td class="text-left">
        {{ item.PurchaseOrderNumber }}
      </td>
      <!-- <td class="customer">{{ item.customerInfo.name }}</td> -->
      <!-- <td>{{ item.customerInfo.phone }}</td> -->
      <!-- <td class="no-text-transform">
        {{ item.customerInfo.email }}
      </td> -->
      <td>{{ item.Status }}</td>
      <td>
        {{ item.OrderDate | date: 'shortDate' }}
      </td>
    </tr>
  </tbody>

  <tbody *ngIf=" !orders || orders.length === 0 ">
    <tr>
      <td colspan="6">
        <strong>There are no orders!</strong>
      </td>
    </tr>
  </tbody>

  <tfoot *ngIf=" orders && orders.length > 10 ">
    <tr>
      <td colspan="6">
        <mfBootstrapPaginator [rowsOnPageSet]="[5,10,25]"></mfBootstrapPaginator>
      </td>
    </tr>
  </tfoot>
</table>