@import 'assets/css/ng2-toaster.css';
@import 'assets/css/angular2-datatable.scss';
* {
    box-sizing: border-box !important;
    text-transform: capitalize;
}

input,
.tooltip-inner {
    text-transform: initial;
}

.no-text-transform {
    text-transform: initial !important;
}

.card-header {
    background: #209e91 !important;
}

.card-title {
    color: #fff;
    text-transform: capitalize;
}

.mandatory {
    color: #e03838 !important;
}

.error {
    color: #e03838 !important;
}

.ng-touched.ng-invalid {
    border-color: #e03838 !important;
}

my-date-picker.ng-touched.ng-invalid {
    .mydp {
        border-color: #e03838 !important;
    }
}

angular2-multiselect.ng-dirty.ng-invalid {
    border: 1px solid #e03838 !important;
}

[ng-reflect-router-link] {
    cursor: pointer;
}

ckeditor.form-control {
    padding: 0 !important;
}

.no_padding {
    padding: 0 !important;
}

.no_margin {
    margin: 0 !important;
}

.pos_relative {
    position: relative !important;
}

.pos_absolute {
    position: absolute !important;
}

.no_left_padding {
    padding-left: 0 !important;
}

.no_right_padding {
    padding-right: 0 !important;
}

.no_top_padding {
    padding-top: 0 !important;
}

.block {
    display: block !important;
}

.hidden {
    visibility: hidden !important;
}

table {
    display: table !important;
}

i.fa {
    margin-left: 5px !important;
    margin-right: 5px !important;
}

.text-decoration {
    text-decoration: underline !important;
    font-size: 12px;
}

.bold {
    font-weight: bold !important;
}

.disabled {
    opacity: 0.7;
    pointer-events: none;
}

.al-content {
    padding: 8px 15px 8px 20px;
}

.content-top {
    padding-top: 0px !important;
    padding-bottom: 10px !important;
}

.loader-container {
    background: #fff;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 1;
    text-align: center;
    img {
        margin: 10px auto;
        display: block; // transform: rotateX(180deg);
    }
    &+.card-body {
        min-height: 100px;
    }
}

// Tabs UI
.tabs-section {
    .nav-tabs {
        background: transparent !important;
        border-bottom: 1px solid #ddd !important;
        a {
            color: #464a4c !important;
        }
        .nav-link {
            border-top: 3px solid transparent;
            border-top-left-radius: 0 !important;
            padding: 12px 15px;
            font-size: 15px;
            &:hover {
                border-top: 3px solid transparent;
            }
            &.active {
                border-top-color: #3c8dbc;
                border-right: 1px solid #ddd!important;
                border-left: 1px solid #ddd!important;
            }
        }
    }
}

.tab-content>.active,
.pill-content>.active {
    display: flex;
}

.selected-list .c-btn {
    box-shadow: none !important;
}

.animated {
    animation-fill-mode: none;
}

.page-top {
    z-index: 9994 !important;
}

.modal {
    z-index: 10050 !important;
}

.owl-dateTime-input {
    height: 37px;
}

.cke_button {
    height: 25px !important;
}

.dropdown-list {
    z-index: 999 !important;
}

.goBack {
    cursor: pointer;
}

.form-control[disabled],
.form-control[readonly],
fieldset[disabled] {
    color: #666666 !important;
}

// Ngx Pagination
.my-pagination /deep/ {
    .ngx-pagination {
        border-radius: .25rem;
        display: flex;
        justify-content: center;
        margin-top: 20px;

        li {
            position: relative;
            display: block;
            padding: .5rem .75rem;
            margin-left: -1px;
            line-height: 1.25;
            color: #d6d6d6;
            background-color: #fff;
            border: 1px solid #ddd;

            &:hover {
                background-color: #d6d6d6;
                color: #fff;
                cursor: pointer;
            }

            a {
                color: #666;
                padding: 0;
                &:hover {
                    color: #666;
                    background-color: transparent;
                }
            }

            &.current {
                color: #fff;
                background-color: rgba(0, 0, 0, .3) !important;
            }

            &.disabled {
                opacity: .7;
                pointer-events: none;
            }
        }



    }
}


// Media Queries
@media (min-width: 576px) {
    .modal-sm {
        max-width: 430px;
    }
}
