<div class="row top20 clearfix fadeIn animated">
    <div class="col-12">

        <div class="catSearch clearfix card-header">
            <h2 class="card-title ">
                Manage Products
                <button *ngIf="userRole!='Admin'" class="btn btn-primary float-right" (click)=" bulkUpload(false) ">
                    <i class="fa fa-download" aria-hidden="true"></i>
                    Bulk Update
                </button>
                <button class="btn btn-primary float-right" (click)=" bulkUpload(true) ">
                    <i class="fa fa-download" aria-hidden="true"></i>
                    Bulk Approve
                </button>
            </h2>
        </div>

        <div class="filters card col-12 fadeIn animated">
            <div class="card-body">

                <p class="error" *ngIf="atLeastOnePresent">
                    <em>
                        Please select atleast 1 criteria.
                    </em>
                </p>

                <form class="form-inline row" [formGroup]="searchProductForm" (ngSubmit)=" searchProduct(searchProductForm.value) ">

                    <div class="form-group col-6 col-lg-3">
                        <label for="name">
                            Product Name
                            <i class="fa fa-info-circle" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="A product name."></i>
                        </label>
                        <input type="text" class="form-control" id="name" placeholder="Product Name" formControlName="e.name">
                    </div>

                    <div class="form-group col-6 col-lg-3">
                        <label for="id">
                            Product SKU / Code
                            <i class="fa fa-info-circle" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="A product SKU / Code."></i>
                        </label>
                        <input type="text" class="form-control" id="id" placeholder="Product SKU / Code" formControlName="e.sKU">
                    </div>

                    <div class="form-group col-6 col-lg-3">
                        <label for="id">
                            Parent Product Code
                            <i class="fa fa-info-circle" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="A parent product Code."></i>
                        </label>
                        <input type="text" class="form-control" id="id" placeholder="Parent Product Code" formControlName="e.parentProductCode">
                    </div>

                    <!-- <div class="form-group col-6 col-lg-3">
                        <label for="Category">
                            Category
                            <i class="fa fa-info-circle" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="Search by a specific category."></i>
                        </label>
                        <select id="Category" class="form-control col-12" formControlName="e.categoryId">
                            <option value="">All</option>
                            <option *ngFor="let item of categories" [ngValue]="item.Id">
                                {{ item.Name }}
                            </option>
                        </select>
                    </div> -->

                    <div class="form-group col-6 col-lg-3">
                        <label for="Vendor">
                            Seller
                            <i class="fa fa-info-circle" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="Search by a specific seller."></i>
                        </label>
                        <select id="Vendor" class="form-control col-12" formControlName="e.sellerId">
                            <option value="">All</option>
                            <option *ngFor="let item of vendors" [ngValue]="item.SellerId">
                                {{ item.Company }}
                            </option>
                        </select>
                    </div>

                    <div class="form-group col-6 col-lg-3">
                        <label for="Status">
                            Status
                            <i class="fa fa-info-circle" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="Search by a 'Status' property."></i>
                        </label>
                        <select id="Status" class="form-control col-12" formControlName="e.status">
                            <option value="">All</option>
                            <option *ngFor="let item of status" value="{{ item.id }}">
                                {{ item.itemName }}
                            </option>
                        </select>
                    </div>

                    <div class="form-group col-12">
                        <button type="submit" class="btn btn-primary searchButton">
                            <i class="fa fa-search" aria-hidden="true"></i>
                            Search
                        </button>
                        <img width="35" height="35" *ngIf="searchLoader" src="assets/img/ajax-loader.gif" alt="Loader Image">
                        <button type="button" class="btn btn-secondary searchButton" (click)="resetForm()">
                            <i class="fa fa-refresh" aria-hidden="true"></i>
                            Reset
                        </button>
                        <button type="button" class="btn btn-info searchButton" (click)="exportAllProducts(searchProductForm.value)">
                            <i class="fa fa-download" aria-hidden="true"></i>
                            Export All Products
                        </button>
                    </div>

                </form>

            </div>
        </div>

        <div class="spacer col-12"></div>

        <div class="card col-12">
            <div class="tableLoader card-body pos_relative no_left_padding no_right_padding clearfix">

                <div class="loader-container pos_absolute" *ngIf="bigLoader">
                    <img src="assets/img/ajax-loader.gif" alt="Loader Image">
                </div>

                <div class="clearfix" *ngIf="totalRecords && totalRecords > 0">
                    <form>
                        <label>
                            <input [(ngModel)]="checkAllCheckboxChange" type="checkbox" name="someName" (change)="checkAllProductsCheckboxChange($event)"> Check all {{ totalRecords }} records
                        </label>
                    </form>
                </div>

                <div class="clearfix">
                    <form class="float-left">
                        <label>Show</label>
                        <select #showresults (change)="showEntries(showresults.value, searchProductForm.value)">
                            <option value="25">25</option>
                            <option value="50">50</option>
                            <option value="75">75</option>
                            <option value="100">100</option>
                            <option value="200">200</option>
                        </select>
                        <label>Records</label>
                    </form>
                    <p class="error float-right no-text-transform" *ngIf="errorMessage.status">
                        {{ errorMessage.message }}
                    </p>
                </div>

                <button class="btn btn-info deleteSelectedButton" [ngClass]="{ 'disabled': products && products.length === 0 || !showSelectedAction }"
                    (click)="exportProducts()">
                    <i class="fa fa-download" aria-hidden="true"></i>
                    Export Products
                </button>
                <img *ngIf="approveLoader" class="pull-right" src="assets/img/ajax-loader.gif" alt="Loader Image" width="35" height="35">

                <div class="pull-right col-5 dropDownAction no_padding" [class.disabled]="!showSelectedAction">
                    <form class="form-inline">
                        <div class="form-group row no_margin col-12 no_padding">
                            <label for="action">
                                Action
                                <i class="fa fa-info-circle" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="Select action to perform."></i>
                            </label>
                            <select id="action" class="form-control col-4" #dropDownActionSelect (change)="actionDropDownSelected(dropDownActionSelect.value)">
                                <option value="">Select Action</option>
                                <option value="Approve">Approve</option>
                                <option value="Reject">Reject</option>
                            </select>
                            <input *ngIf="rejectionComments.display" [(ngModel)]="rejectionComments.value" type="text" placeholder="Comment" class="form-control col-3 reject-comments"
                                name="rejectionComments">
                            <button class="btn btn-success" type="button" [disabled]="!disableSubmitButton" (click)="dropDownActionFunction(dropDownActionSelect.value)">
                                Submit
                            </button>
                        </div>
                    </form>
                </div>


                <div class="table-container table-responsive">
                    <table class="table table-bordered" [mfData]="products" #mf="mfDataTable" [mfRowsOnPage]="showRecords">
                        <thead class="black-muted-bg">
                            <tr>
                                <th class="text-center">
                                    <input [class.disabled]="products && products.length === 0" type="checkbox" [ngModel]='selectAllCheckbox' (change)="selectAll($event)"
                                        id="selectAllCheckbox">
                                </th>
                                <th>
                                    <mfDefaultSorter by="Name">
                                        <strong>Product name</strong>
                                    </mfDefaultSorter>
                                </th>
                                <th>
                                    <strong>SKU</strong>
                                </th>
                                <th>
                                    <mfDefaultSorter by="NetPrice">
                                        <strong>Net Price</strong>
                                    </mfDefaultSorter>
                                </th>
                                <th>
                                    <strong>Product Status</strong>
                                </th>
                                <th>
                                    <strong>Stock</strong>
                                </th>
                                <th>
                                    <strong>Modified On</strong>
                                </th>
                                <th class="action" *ngIf="userRole!='Admin'">
                                    <strong>Action</strong>
                                </th>
                            </tr>
                        </thead>
                        <tbody *ngIf=" products && products.length > 0 ">
                            <tr *ngFor=" let item of mf.data | paginate: { itemsPerPage: showRecords, currentPage: p, totalItems: totalRecords }; let i = index; ">
                                <td class="text-center">
                                    <input [ngModel]="item.isChecked" type="checkbox" (change)="checkBoxSelected($event, item)">
                                </td>
                                <td>
                                    <span>{{ item.Name }}</span>
                                </td>
                                <td>{{ item.Sku }}</td>
                                <td>{{ item.NetPrice | currency: 'INR': true }}</td>
                                <td class="text-center" [ngClass]="{
									'Draft': item.Status == 'Draft',
									'APPROVED': item.Status === 'APPROVED',
									'approved': item.Status == 'Approved',
									'pending': item.Status == 'Pending',
									'rejected': item.Status == 'Rejected'
								}">
                                    <span *ngIf="item.Status ==='Pending'; else elseBlock">Pending for approval</span>
                                    <ng-template #elseBlock>
                                        {{ item.Status }}
                                    </ng-template>
                                </td>
                                <td>
                                    <span *ngIf="!item.IsOutOfStock; else elseStockBlock">
                                        In stock
                                    </span>
                                    <ng-template #elseStockBlock>
                                        Out of stock
                                    </ng-template>
                                </td>
                                <td>
                                    {{ item.ModifiedOn | date}}
                                </td>
                                <td class="action" *ngIf="userRole != 'Admin'">
                                    <button *ngIf="item.Status=='Draft' || item.Status=='Approved' || item.Status=='APPROVED' || userRole == 'Admin'" class="btn btn-secondary"
                                        [routerLink]="['/merchandise/products/edit-product/', item.Id]" title="Edit">
                                        <i class="fa fa-pencil" aria-hidden="true"></i>
                                    </button>
                                    <span *ngIf="item.Status!=='Draft' && item.Status!=='Approved' && item.Status!=='APPROVED'">---</span>
                                    <!-- <button class="btn btn-danger" (click)="deleteProduct(item, i)" title="Delete" [disabled]="deleteLoader == i">
										<i class="fa fa-trash-o" aria-hidden="true"></i>
									</button> -->
                                    <!-- <img *ngIf="deleteLoader == i" src="assets/img/ajax-loader.gif" alt="Loader Image" width="35" height="35"> -->
                                </td>
                            </tr>
                        </tbody>
                        <tbody *ngIf=" !products || products.length === 0 ">
                            <tr>
                                <td colspan="8">
                                    <strong>There are no products!</strong>
                                </td>
                            </tr>
                        </tbody>

                        <tfoot *ngIf=" products && totalRecords > showRecords">
                            <tr>
                                <td colspan="8">
                                    <pagination-controls class="my-pagination" (pageChange)="pageChanged($event)"></pagination-controls>
                                    <!-- <mfBootstrapPaginator [rowsOnPageSet]="[5,10,25]"></mfBootstrapPaginator> -->
                                </td>
                            </tr>
                        </tfoot>
                    </table>
                </div>

            </div>

        </div>

    </div>
</div>