<div class="row top20 clearfix fadeIn animated">
    <div class="col-12">

        <div class="catSearch clearfix card-header">
            <h2 class="card-title ">
                Manage Products
                <button *ngIf="userRole!='Admin'" class="btn btn-primary float-right" (click)=" bulkUpload() ">
                    <i class="fa fa-download" aria-hidden="true"></i>
                    Bulk Import
                </button>
            </h2>
        </div>

        <div class="filters card col-12 fadeIn animated">
            <div class="card-body">

                <p class="error" *ngIf="atLeastOnePresent">
                    <em>
                        Please select atleast 1 criteria.
                    </em>
                </p>

                <form class="form-inline row" [formGroup]="searchProductForm" (ngSubmit)=" searchProduct(searchProductForm.value) ">

                    <div class="form-group col-6 col-lg-3">
                        <label for="name">
                            Product Name
                            <i class="fa fa-info-circle" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="A product name."></i>
                        </label>
                        <input type="text" class="form-control" id="name" placeholder="Product Name" formControlName="e.name">
                    </div>

                    <div class="form-group col-6 col-lg-3">
                        <label for="id">
                            Product Code
                            <i class="fa fa-info-circle" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="A product Code."></i>
                        </label>
                        <input type="text" class="form-control" id="id" placeholder="Product Code" formControlName="e.sKU">
                    </div>

                    <div class="form-group col-6 col-lg-3">
                        <label for="id">
                            Parent Product Code
                            <i class="fa fa-info-circle" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="A parent product Code."></i>
                        </label>
                        <input type="text" class="form-control" id="id" placeholder="Parent Product Code" formControlName="e.parentProductCode">
                    </div>

                    <div class="form-group col-6 col-lg-3">
                        <label for="Category">
                            Category
                            <i class="fa fa-info-circle" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="Search by a specific category."></i>
                        </label>
                        <select id="Category" class="form-control col-12" formControlName="e.categoryId">
                            <option value="">All</option>
                            <option *ngFor="let item of categories" [ngValue]="item.Id">
                                {{ item.Name }}
                            </option>
                        </select>
                    </div>

                    <div class="form-group col-6 col-lg-3">
                        <label for="Vendor">
                            Seller
                            <i class="fa fa-info-circle" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="Search by a specific seller."></i>
                        </label>
                        <select id="Vendor" class="form-control col-12" formControlName="e.sellerId">
                            <option value="">All</option>
                            <option *ngFor="let item of vendors" [ngValue]="item.SellerId">
                                {{ item.FirstName }} {{ item.LastName }}
                            </option>
                        </select>
                    </div>

                    <div class="form-group col-6 col-lg-3">
                        <label for="Status">
                            Status
                            <i class="fa fa-info-circle" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="Search by a 'Status' property."></i>
                        </label>
                        <select id="Status" class="form-control col-12" formControlName="e.status">
                            <option value="">All</option>
                            <option *ngFor="let item of status" value="{{ item }}">
                                {{ item }}
                            </option>
                        </select>
                    </div>

                    <div class="form-group col-12">
                        <button type="submit" class="btn btn-primary searchButton">
                            <i class="fa fa-search" aria-hidden="true"></i>
                            Search
                        </button>
                        <img width="35" height="35" *ngIf="searchLoader" src="assets/img/ajax-loader.gif" alt="Loader Image">
                        <button type="button" class="btn btn-info searchButton" (click)="resetForm()">
                            <i class="fa fa-refresh" aria-hidden="true"></i>
                            Reset
                        </button>
                    </div>

                </form>

            </div>
        </div>

        <div class="spacer col-12"></div>

        <div class="card col-12">
            <div class="tableLoader card-body pos_relative no_left_padding no_right_padding clearfix">

                <div class="loader-container pos_absolute" *ngIf="bigLoader">
                    <img src="assets/img/ajax-loader.gif" alt="Loader Image">
                </div>

                <div class="clearfix">
                    <form class="float-left">
                        <label>Show</label>
                        <select #showresults (change)="showEntries(showresults.value, searchProductForm.value)">
                            <option value="25">25</option>
                            <option value="50">50</option>
                            <option value="75">75</option>
                            <option value="100">100</option>
                            <option value="200">200</option>
                        </select>
                        <label>Records</label>
                    </form>
                </div>

                <button class="btn btn-info deleteSelectedButton" [ngClass]="{ 'disabled': products && products.length === 0 || !showSelectedAction }"
                    (click)="exportProducts()">
                    <i class="fa fa-download" aria-hidden="true"></i>
                    Export Products
                </button>
                <img *ngIf="approveLoader" class="pull-right" src="assets/img/ajax-loader.gif" alt="Loader Image" width="35" height="35">

                <div class="pull-right col-4 dropDownAction no_padding" [class.disabled]="!showSelectedAction">
                    <form class="form-inline">
                        <div class="form-group row no_margin col-12 no_padding">
                            <label for="action">
                                Action
                                <i class="fa fa-info-circle" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="Select action to perform."></i>
                            </label>
                            <select id="action" class="form-control col-6" #dropDownActionSelect (change)="actionDropDownSelected(dropDownActionSelect.value)">
                                <option value="">Select Action</option>
                                <option *ngFor="let item of dropDownAction;" value="{{ item }}">
                                    {{ item }}
                                </option>
                            </select>
                            <button
                                class="btn btn-success"
                                type="button"
                                [disabled]="!disableSubmitButton"
                                (click)="dropDownActionFunction(dropDownActionSelect.value)">
                                    Submit
                            </button>
                        </div>
                    </form>
                </div>


                <div class="table-container table-responsive">
                    <table class="table table-bordered" [mfData]="products" #mf="mfDataTable" [mfRowsOnPage]="showRecords">
                        <thead class="black-muted-bg">
                            <tr>
                                <th class="text-center">
                                    <input [class.disabled]="products && products.length === 0" type="checkbox" [ngModel]='selectAllCheckbox' (change)="selectAll($event)">
                                </th>
                                <th class="text-left">
                                    <strong>Product Image</strong>
                                </th>
                                <th>
                                    <mfDefaultSorter by="Name">
                                        <strong>Product name</strong>
                                    </mfDefaultSorter>
                                </th>
                                <th>
                                    <strong>SKU</strong>
                                </th>
                                <th>
                                    <mfDefaultSorter by="Mrp">
                                        <strong>MRP</strong>
                                    </mfDefaultSorter>
                                </th>
                                <!-- <th>
									<strong>Type</strong>
								</th> -->
                                <th>
                                    <strong>Product Status</strong>
                                </th>
                                <!-- <th>
									<strong>Approval Status</strong>
								</th> -->
                                <th class="action" *ngIf="userRole!='Admin'">
                                    <strong>Action</strong>
                                </th>
                            </tr>
                        </thead>
                        <tbody *ngIf=" products && products.length > 0 ">
                            <!-- <tr *ngIf="selectAllCheckboxMessage.message">
                                <td colspan="9">
                                    <em *ngIf="!selectAllCheckboxMessage.clearSelection" class="no-text-transform">
                                         All <span class="bold">10</span> products on this page are selected.
                                         <span (click)="toalRecordsSelected(true)" class="selectAll no-text-transform">
                                             Select all <span class="bold">
                                                 {{totalRecords}}
                                             </span> products
                                         </span>.
                                    </em>
                                    <em *ngIf="selectAllCheckboxMessage.clearSelection" class="no-text-transform">
                                        All <span class="bold">{{totalRecords}}</span> products selected.
                                        <span (click)="toalRecordsSelected(false)" class="selectAll no-text-transform">
                                            Clear selection.
                                        </span>
                                    </em>
                                </td>
                            </tr> -->
                            <tr *ngFor=" let item of mf.data | paginate: { itemsPerPage: showRecords, currentPage: p, totalItems: totalRecords }; let i = index; ">
                                <td class="text-center">
                                    <input *ngIf="item.Status!=='Approved' && item.Status!=='APPROVED'" [ngModel]="item.isChecked" type="checkbox" (change)="checkBoxSelected($event, item)">
                                </td>

                                <td class="text-left">
                                    <div class="product-image" *ngIf="item.picture">
                                        <img class="img-fluid" src="{{ item.picture[0].url ? item.picture[0].url : 'assets/images/products/Placeholder.png' }}" alt="{{ item.picture[0].alt ? item.picture[0].alt : 'Product Image' }}">
                                    </div>
                                </td>
                                <td>
                                    <span>{{ item.Name }}</span>
                                </td>
                                <td>{{ item.Sku }}</td>
                                <td>{{ item.Mrp | currency: 'INR': true }}</td>
                                <!-- <td>{{ item.productType }}</td> -->
                                <td class="text-center" [ngClass]="{
									'Draft': item.Status == 'Draft',
									'APPROVED': item.Status === 'APPROVED',
									'approved': item.Status == 'Approved',
									'pending': item.Status == 'Pending',
									'rejected': item.Status == 'Rejected'
								}">
                                    {{ item.Status }}
                                </td>
                                <!-- <td class="text-center order-status">
									<span [ngClass]="{
										'approved': item.Status == 'Draft',
										'pending': item.Status == 'Pending',
										'rejected': item.Status == 'Rejected'
									}">
										{{ item.Status }}
									</span>
								</td> -->
                                <td class="action" *ngIf="userRole!='Admin'">
                                    <button *ngIf="item.Status=='Draft' || item.Status=='Approved' || item.Status=='APPROVED' || userRole == 'Admin'" class="btn btn-secondary" [routerLink]="['/merchandise/products/edit-product/', item.Id]"
                                        title="Edit">
                                        <i class="fa fa-pencil" aria-hidden="true"></i>
                                    </button>
                                    <span *ngIf="item.Status!=='Draft' && item.Status!=='Approved' && item.Status!=='APPROVED'">---</span>
                                    <!-- <button class="btn btn-danger" (click)="deleteProduct(item, i)" title="Delete" [disabled]="deleteLoader == i">
										<i class="fa fa-trash-o" aria-hidden="true"></i>
									</button> -->
                                    <!-- <img *ngIf="deleteLoader == i" src="assets/img/ajax-loader.gif" alt="Loader Image" width="35" height="35"> -->
                                </td>
                            </tr>
                        </tbody>
                        <tbody *ngIf=" !products || products.length === 0 ">
                            <tr>
                                <td colspan="9">
                                    <strong>There are no products!</strong>
                                </td>
                            </tr>
                        </tbody>

                        <tfoot *ngIf=" products && totalRecords > showRecords">
                            <tr>
                                <td colspan="9">
                                    <pagination-controls class="my-pagination" (pageChange)="pageChanged($event)"></pagination-controls>
                                    <!-- <mfBootstrapPaginator [rowsOnPageSet]="[5,10,25]"></mfBootstrapPaginator> -->
                                </td>
                            </tr>
                        </tfoot>
                    </table>
                </div>

            </div>

        </div>

    </div>
</div>
