<div class="animated fadeIn card orderDetails" *ngIf="catalogInfo">

    <div class="card-header clearfix">
        <h2 class="card-title">
            Name: {{catalogInfo.Name}}
            <span class="goBack float-right" (click)="goBackFunc()">
                <i class="fa fa-arrow-circle-o-left" aria-hidden="true"></i> Back to Catalog list</span>
        </h2>
    </div>
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-12 catalog-description">
                <h5>Description</h5>
                <div class="row">
                    <div class="col-md-12">
                        {{ catalogInfo.Description }}
                    </div>
                </div>
            </div>
            <div class="col-md-12 catalog-flag-wrap">
                <div class="row">
                    <div class="col-md-3">
                        <i *ngIf="catalogInfo.IsActive" class="fa fa-check catalog-status catalog-flag-active"></i>
                        <i *ngIf="!catalogInfo.IsActive" class="fa fa-times catalog-status catalog-flag-deactive"></i>
                        <span>Is Active </span>
                    </div>
                    <div class="col-md-3">
                        <i *ngIf="catalogInfo.EnableAllProducts" class="fa fa-check catalog-enable-all-products catalog-flag-active"></i>
                        <i *ngIf="!catalogInfo.EnableAllProducts" class="fa fa-times catalog-enable-all-products catalog-flag-deactive"></i>
                        <span>Enable All Products </span>
                    </div>
                    <div class="col-md-3">
                        <i *ngIf="catalogInfo.EnableAutoProductSync" class="fa fa-check catalog-status catalog-flag-active"></i>
                        <i *ngIf="!catalogInfo.EnableAutoProductSync" class="fa fa-times catalog-status catalog-flag-deactive"></i>
                        <span>Enable Auto Product Sync </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 no_padding">
                <div class="card-body pos_relative">
                    <div class="loader-container pos_absolute" *ngIf="false">
                        <img src="assets/img/ajax-loader.gif" alt="Loader Image">
                    </div>
                    <div class="tabs-section">
                        <ul class="nav nav-tabs" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" href="#productList" role="tab" data-toggle="tab">Products</a>
                            </li>
                            <li class="nav-item" *ngIf="catalogMapOpen">
                                <a class="nav-link" href="#mappedProduct" role="tab" data-toggle="tab">Add Products</a>
                            </li>
                            <li class="nav-item" *ngIf="catalogMapOpen">
                                <a class="nav-link " href="#mappedProductApprove" role="tab" data-toggle="tab">Approve Pending</a>
                            </li>
                            <!-- <li class="nav-item">
                                <a class="nav-link " href="#mappedBank" role="tab" data-toggle="tab">Program</a>
                            </li> -->
                        </ul>
                    </div>
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane fade in active" id="productList">
                            <div class="row">
                                <div class="col-md-12">
                                    <table class="table table-bordered table-responsive" [mfData]="allMapProducts" #mfMapProList="mfDataTable" [mfRowsOnPage]="10">
                                        <thead class="black-muted-bg">
                                            <tr>
                                                <th class="text-left">
                                                    <mfDefaultSorter by="Name">
                                                        <strong>Name</strong>
                                                    </mfDefaultSorter>
                                                </th>
                                                <th class="text-left">
                                                    <strong>Retail Price</strong>
                                                </th>
                                                <th class="text-left">
                                                    <strong>Retail Shipping Price</strong>
                                                </th>
                                                <th class="text-left">
                                                    <strong>Discount Type</strong>
                                                </th>
                                                <th class="text-left">
                                                    <strong>Discount</strong>
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody *ngIf=" allMapProducts && allMapProducts.length > 0 ">
                                            <tr *ngFor=" let item of mfMapProList.data; let i = index ">
                                                <td class="text-left">
                                                    {{ item.ProductName }}
                                                </td>
                                                <td>
                                                    {{item.RetailPrice}}
                                                </td>
                                                <td>
                                                    {{item.RetailShippingPrice}}
                                                </td>
                                                <td>
                                                    {{item.DiscountType}}
                                                </td>
                                                <td>
                                                    {{item.Discount}}
                                                </td>
                                            </tr>
                                        </tbody>
                                        <tbody *ngIf="allMapProducts && allMapProducts.length < 1 ">
                                            <tr>
                                                <td colspan="5" class="text-center">
                                                    <strong>No Products Added</strong>
                                                </td>
                                            </tr>
                                        </tbody>
                                        <tfoot *ngIf="allMapProducts && allMapProducts.length > 10 ">
                                            <tr>
                                                <td colspan="5">
                                                    <mfBootstrapPaginator [rowsOnPageSet]="[5,10,25]"></mfBootstrapPaginator>
                                                </td>
                                            </tr>
                                        </tfoot>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div role="tabpanel" *ngIf="catalogMapOpen" class="tab-pane fade in" id="mappedProduct">
                            <form class="row" [formGroup]="searchProductForm" (ngSubmit)="searchProductFormFunc(searchProductForm.value)">
                                <div class="form-group col-md-3">
                                    <label for="searchText" class="text-right">Search
                                        <span class="mandatory">*</span>
                                    </label>
                                    <input type="text" class="form-control" id="searchText" placeholder="Search Product" formControlName="searchText">
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label for="vendors" class="text-right">Vendors</label>
                                        <angular2-multiselect id="vendors" [data]="vendorsList" formControlName="Vendors" [settings]="multiDropdownSettings">
                                        </angular2-multiselect>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <input type="submit" class="btn btn-primary" value="Search">
                                    <button class="btn btn-primary" (click)="mapProductToCatalog(allProducts)" type="button">Add Selected to Catalog</button>
                                </div>
                            </form>
                            <div class="row">
                                <div class="col-sm-5">
                                    <table class="table table-bordered table-responsive" [mfData]="allProducts" #mfList="mfDataTable" [mfRowsOnPage]="10">
                                        <thead class="black-muted-bg">
                                            <tr>
                                                <th class="text-center" style="width:50px;">
                                                    <input type="checkbox" [ngModel]='selectAllCheckbox' (change)="selectAll($event)">
                                                </th>
                                                <th class="text-left" style="width:200px;">
                                                    <mfDefaultSorter by="Name">
                                                        <strong>Product Name</strong>
                                                    </mfDefaultSorter>
                                                </th>
                                                <th class="text-left">
                                                    <mfDefaultSorter>
                                                        <strong>Brand</strong>
                                                    </mfDefaultSorter>
                                                </th>
                                                <th class="text-left">
                                                    <mfDefaultSorter>
                                                        <strong>MRP</strong>
                                                    </mfDefaultSorter>
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody *ngIf=" allProducts && allProducts.length > 0 ">
                                            <tr *ngFor=" let item of mfList.data; let i = index ">
                                                <td class="text-center">
                                                    <input [ngModel]="item.isChecked" type="checkbox" (change)="checkBoxSelected($event, item)">
                                                </td>
                                                <td class="text-left">
                                                    {{ item.Name }}
                                                </td>
                                                <td class="text-left">
                                                    {{ item.Brand }}
                                                </td>
                                                <td class="text-left">
                                                    {{ item.Mrp }}
                                                </td>
                                            </tr>
                                        </tbody>
                                        <tfoot *ngIf="allProducts.length <= 0">
                                            <tr>
                                                <td colspan="4" class="text-center">
                                                    <span class="no-product-message">Search Product OR
                                                        <a href="javascript:void(0)" (click)="searchProductFormFunc(null)">Get All</a>
                                                    </span>
                                                </td>
                                            </tr>
                                        </tfoot>
                                        <tfoot *ngIf=" allProducts && allProducts.length > 10 ">
                                            <tr>
                                                <td colspan="4">
                                                    <mfBootstrapPaginator [rowsOnPageSet]="[5,10,25]"></mfBootstrapPaginator>
                                                </td>
                                            </tr>
                                        </tfoot>
                                    </table>
                                </div>
                                <div class="col-sm-7">
                                    <table class="table table-bordered table-responsive" [mfData]="allMapTempProducts" #mfMapList="mfDataTable" [mfRowsOnPage]="10">
                                        <thead class="black-muted-bg">
                                            <tr>
                                                <th class="text-left">
                                                    <mfDefaultSorter by="Name">
                                                        <strong>Product</strong>
                                                    </mfDefaultSorter>
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody *ngIf=" allMapTempProducts && allMapTempProducts.length > 0 ">
                                            <tr *ngFor=" let item of mfMapList.data; let i = index ">
                                                <td class="text-left">
                                                    <div>
                                                        <strong>{{ item.Name }}</strong>
                                                    </div>
                                                    <div class="row product-map-edit">
                                                        <div class="col-md-4 form-group">
                                                            <label>Retail Price</label>
                                                            <input type="number" min="0" class="form-control" [(ngModel)]="item.RetailPrice">
                                                        </div>
                                                        <div class="col-md-4 form-group">
                                                            <label>Retail Shipping Price</label>
                                                            <input type="number" min="0" class="form-control" [(ngModel)]="item.RetailShippingPrice">
                                                        </div>
                                                        <div class="col-md-4 form-group">
                                                            <label>Discount</label>
                                                            <input type="number" min="0" class="form-control" [(ngModel)]="item.Discount">
                                                        </div>
                                                        <div class="col-12">
                                                            <div class="row">
                                                                <div class="col-6">
                                                                    <label>
                                                                        <input type="checkbox" [(ngModel)]="item.IsFeaturedProduct">
                                                                        <span>Is Featured Product</span>
                                                                    </label>
                                                                    <input min="0" placeholder="Display Order" class="form-control" type="number" [(ngModel)]="item.FeaturedProductDisplayOrder">
                                                                </div>
                                                                <div class="col-6">
                                                                    <label>
                                                                        <input type="checkbox" [(ngModel)]="item.IsHomePageProduct">
                                                                        <span>Is Home Page Product</span>
                                                                    </label>
                                                                    <input min="0" class="form-control" placeholder="Display Order" type="number" [(ngModel)]="item.HomePageProductDisplayOrder">
                                                                </div>
                                                                <div class="col-6">
                                                                    <label>
                                                                        <input type="checkbox" [(ngModel)]="item.CatalogProductMappingIsActive">
                                                                        <span>Catalog Product Mapping IsActive</span>
                                                                    </label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                        </tbody>
                                        <tfoot *ngIf="allMapTempProducts && allMapTempProducts.length > 10 ">
                                            <tr>
                                                <td colspan="2">
                                                    <mfBootstrapPaginator [rowsOnPageSet]="[5,10,25]"></mfBootstrapPaginator>
                                                </td>
                                            </tr>
                                        </tfoot>
                                    </table>

                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12 save-product-map-changes-btn">
                                    <button [disabled]="allMapTempProducts.length < 1" (click)="mapProductWithCatalog()" class="btn btn-primary" type="button">
                                        Save Changes </button>
                                </div>
                            </div>
                        </div>
                        <div role="tabpanel" *ngIf="catalogMapOpen" class="tab-pane fade in" id="mappedProductApprove">
                            <div class="row">
                                <div class="col-sm-6">
                                    <input placeholder="Reason" class="form-control" #commentDec type="text">
                                </div>
                                <div class="col-sm-6">
                                    <button (click)="approveProductMap(commentDec.value)" [disabled]="allMapProductsApprove.length < 1" type="button" class="btn btn-primary">Approve</button>
                                </div>
                                <div class="col-sm-12">
                                    <table class="table table-bordered table-responsive" [mfData]="allMapProductsApprove" #mfListApprove="mfDataTable" [mfRowsOnPage]="10">
                                        <thead class="black-muted-bg">
                                            <tr>
                                                <th class="text-left">Sr. No.</th>
                                                <th class="text-left">Name</th>
                                                <th class="text-left">Retail Price</th>
                                                <th class="text-left">Retail Price Inclusive</th>
                                                <th class="text-left">Retail Shipping Price</th>
                                                <th class="text-left">Discount</th>
                                            </tr>
                                        </thead>
                                        <tbody *ngIf=" allMapProductsApprove && allMapProductsApprove.length > 0 ">
                                            <tr *ngFor="let item of mfListApprove.data; let i = index ">
                                                <td>{{ i+1 }}</td>
                                                <td>{{ item.ProductName }}</td>
                                                <td>{{ item.RetailPrice }}</td>
                                                <td>{{ item.RetailPriceInclusive }}</td>
                                                <td>{{ item.RetailShippingPrice }}</td>
                                                <td>{{ item.Discount }}</td>
                                            </tr>
                                        </tbody>
                                        <tfoot *ngIf="allMapProductsApprove.length < 1 ">
                                            <tr>
                                                <td class="text-center" colspan="6">No Product Found for Approve</td>
                                            </tr>
                                        </tfoot>
                                        <tfoot *ngIf=" allMapProductsApprove && allMapProductsApprove.length > 10 ">
                                            <tr>
                                                <td colspan="6">
                                                    <mfBootstrapPaginator [rowsOnPageSet]="[5,10,25]"></mfBootstrapPaginator>
                                                </td>
                                            </tr>
                                        </tfoot>
                                    </table>
                                </div>

                            </div>
                        </div>
                        <div role="tabpanel" class="tab-pane fade in" id="mappedBank">
                            <h4 *ngIf="programMappedList.length > 0">Mapped Programs</h4>
                            <h4 *ngIf="programMappedList.length < 1">
                                There are no mapped programs
                            </h4>
                            <div class="row">
                                <div class="col-12">
                                    <ul class="list-group">
                                        <li *ngFor="let program of programMappedList" class="list-group-item">
                                            Program Id: {{program.ProgramId}}
                                            <span (click)="unMapProgram(program.ProgramId)">
                                                <i class="fa fa-times"></i>
                                            </span>
                                        </li>
                                    </ul>
                                </div>
                                <div class="col-12" style="padding:15px;">
                                    <button type="button" (click)="showMapprogram = !showMapprogram" class="btn btn-primary">Map New Program </button>
                                </div>
                                <div class="col-sm-12" *ngIf="showMapprogram"  style="padding:25px 15px;">
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <select class="form-control" [(ngModel)]="curentSelectedProgram">
                                                <option *ngFor="let program of programList" [ngValue]="program">{{program.ProgramName}}</option>
                                            </select>
                                        </div>
                                        <div class="col-sm-4">
                                            <button class="btn btn-primary" [class.disabled]="!curentSelectedProgram" (click)="mapProgram(curentSelectedProgram)" type="button">Map Program</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div>
                    <div class="col-md-12 catalog-map-cancel-btn">
                        <span class="btn btn-secondary" (click)="goBackFunc()">Cancel</span>
                    </div>
                </div>
            </div>
        </div>
