<div class="animated fadeIn card orderDetails">

    <div class="card-header clearfix">
        <h2 class="card-title">
            Name:
            <span *ngIf="catalogInfo">
                 {{catalogInfo.Name}}
            </span>
            <span class="goBack float-right" (click)="goBackFunc()">
                <i class="fa fa-arrow-circle-o-left" aria-hidden="true"></i> Back to Catalog list</span>
        </h2>
    </div>
    <div class="col-md-12" *ngIf="catalogInfo">
        <div class="row">
            <div class="col-md-12 catalog-description">
                <h5>Description</h5>
                <div class="row">
                    <div class="col-md-12">
                        {{ catalogInfo.Description }}
                    </div>
                </div>
            </div>
            <div class="col-md-12 catalog-flag-wrap">
                <div class="row">
                    <div class="col-md-3">
                        <i *ngIf="catalogInfo.IsActive" class="fa fa-check catalog-status catalog-flag-active"></i>
                        <i *ngIf="!catalogInfo.IsActive" class="fa fa-times catalog-status catalog-flag-deactive"></i>
                        <span>Is Active </span>
                    </div>
                    <div class="col-md-3">
                        <i *ngIf="catalogInfo.EnableAllProducts" class="fa fa-check catalog-enable-all-products catalog-flag-active"></i>
                        <i *ngIf="!catalogInfo.EnableAllProducts" class="fa fa-times catalog-enable-all-products catalog-flag-deactive"></i>
                        <span>Enable All Products </span>
                    </div>
                    <div class="col-md-3">
                        <i *ngIf="catalogInfo.EnableAutoProductSync" class="fa fa-check catalog-status catalog-flag-active"></i>
                        <i *ngIf="!catalogInfo.EnableAutoProductSync" class="fa fa-times catalog-status catalog-flag-deactive"></i>
                        <span>Enable Auto Product Sync </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 no_padding">
                <div class="card-body pos_relative">
                    <div class="loader-container pos_absolute" *ngIf="false">
                        <img src="assets/img/ajax-loader.gif" alt="Loader Image">
                    </div>
                    <div class="tabs-section">
                        <ul class="nav nav-tabs" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" href="#productList" role="tab" data-toggle="tab">Products</a>
                            </li>
                            <li class="nav-item" *ngIf="catalogMapOpen">
                                <a class="nav-link" href="#mappedProduct" role="tab" data-toggle="tab">Add Products</a>
                            </li>
                            <li class="nav-item" *ngIf="catalogMapOpen">
                                <a class="nav-link " href="#mappedProductApprove" role="tab" data-toggle="tab">Approve Pending</a>
                            </li>
                            <!-- <li class="nav-item">
                                <a class="nav-link " href="#mappedBank" role="tab" data-toggle="tab">Program</a>
                            </li> -->
                        </ul>
                    </div>
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane fade in active" id="productList">
                            <app-basic-info [notifier]="notifier" (onStatusChange)="childStatusChanged($event)"></app-basic-info>
                        </div>

                        <div role="tabpanel" *ngIf="catalogMapOpen" class="tab-pane fade in" id="mappedProduct">
                            <app-products-info [notifier]="notifier" (onStatusChange)="childStatusChanged($event)"></app-products-info>
                        </div>

                        <div role="tabpanel" *ngIf="catalogMapOpen" class="tab-pane fade in" id="mappedProductApprove">
                            <app-vendors-info [notifier]="notifier" (onStatusChange)="childStatusChanged($event)"></app-vendors-info>
                        </div>

                        <div role="tabpanel" class="tab-pane fade in" id="mappedBank">
                            <h4 *ngIf="programMappedList.length > 0">Mapped Programs</h4>
                            <h4 *ngIf="programMappedList.length < 1">
                                There are no mapped programs
                            </h4>
                            <div class="row">
                                <div class="col-12">
                                    <ul class="list-group">
                                        <li *ngFor="let program of programMappedList" class="list-group-item">
                                            Program Id: {{program.ProgramId}}
                                            <span (click)="unMapProgram(program.ProgramId)">
                                                <i class="fa fa-times"></i>
                                            </span>
                                        </li>
                                    </ul>
                                </div>
                                <div class="col-12" style="padding:15px;">
                                    <button type="button" (click)="showMapprogram = !showMapprogram" class="btn btn-primary">Map New Program </button>
                                </div>
                                <div class="col-sm-12" *ngIf="showMapprogram"  style="padding:25px 15px;">
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <select class="form-control" [(ngModel)]="curentSelectedProgram">
                                                <option *ngFor="let program of programList" [ngValue]="program">{{program.ProgramName}}</option>
                                            </select>
                                        </div>
                                        <div class="col-sm-4">
                                            <button class="btn btn-primary" [class.disabled]="!curentSelectedProgram" (click)="mapProgram(curentSelectedProgram)" type="button">Map Program</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div>
                    <div class="col-md-12 catalog-map-cancel-btn">
                        <span class="btn btn-secondary" (click)="goBackFunc()">Cancel</span>
                    </div>
                </div>
            </div>
        </div>
