.goBack {
	cursor: pointer;
}

.deleteLoader {
	margin-top: -9px;
}

.fa[data-toggle="tooltip"] {
  color: #209e91;
}

.basic-info {
	margin-bottom: 25px;
}
.catalog-description{
    padding: 15px;
}
.catalog-flag-wrap{
    margin-bottom: 25px;
}
.catalog-flag-active{
    color: green;
}
.catalog-flag-deactive{
    color:#ff1305
}

.fade.active {
    opacity: 1;
    display: block;
}
.catalog-map-cancel-btn{
    padding: 15px;
    text-align: right;
}
.save-product-map-changes-btn{
    text-align: center;
    padding: 10px;
}
.product-map-edit .form-group label{
    margin: 0px;
}
.no-product-message{
    display: inline-block;
    padding: 10px;
}
