<div class="animated fadeIn card orderDetails">

    <div class="card-header clearfix">
        <h2 class="card-title">
            Name:
            <span *ngIf="catalogInfo">
                {{catalogInfo.Name}}
            </span>
            <span class="goBack float-right" (click)="goBackFunc()">
                <i class="fa fa-arrow-circle-o-left" aria-hidden="true"></i> Back to Catalog list</span>
        </h2>
    </div>
    <div class="col-md-12 pos_relative">
        <div class="loader-container pos_absolute " *ngIf="bigLoader">
            <img src="assets/img/ajax-loader.gif" alt="Loader Image">
        </div>

        <div class="row" *ngIf="catalogInfo">
            <div class="col-md-12 catalog-description">
                <h5>Description</h5>
                <div class="row">
                    <div class="col-md-12">
                        {{ catalogInfo.Description }}
                    </div>
                </div>
            </div>
            <div class="col-md-12 catalog-flag-wrap">
                <div class="row">
                    <div class="col-md-2">
                        <i *ngIf="catalogInfo.IsActive" class="fa fa-check catalog-status catalog-flag-active"></i>
                        <i *ngIf="!catalogInfo.IsActive" class="fa fa-times catalog-status catalog-flag-deactive"></i>
                        <span>Is Active </span>
                    </div>
                    <div class="col-md-3">
                        <i *ngIf="catalogInfo.EnableAllProducts" class="fa fa-check catalog-enable-all-products catalog-flag-active"></i>
                        <i *ngIf="!catalogInfo.EnableAllProducts" class="fa fa-times catalog-enable-all-products catalog-flag-deactive"></i>
                        <span>Enable All Products </span>
                    </div>
                    <div class="col-md-4">
                        <i *ngIf="catalogInfo.EnableAutoProductSync" class="fa fa-check catalog-status catalog-flag-active"></i>
                        <i *ngIf="!catalogInfo.EnableAutoProductSync" class="fa fa-times catalog-status catalog-flag-deactive"></i>
                        <span>Enable Auto Product Sync </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" *ngIf="catalogInfo">
            <div class="col-12 no_padding">
                <div class="card-body pos_relative">
                    <div class="loader-container pos_absolute" *ngIf="false">
                        <img src="assets/img/ajax-loader.gif" alt="Loader Image">
                    </div>
                    <div class="tabs-section">
                        <ul class="nav nav-tabs" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" href="#productList" role="tab" data-toggle="tab">Products</a>
                            </li>
                            <!-- && !isAdmin -->
                            <li class="nav-item" *ngIf="catalogMapOpen && !catalogInfo.EnableAutoProductSync">
                                <a class="nav-link" href="#mappedProduct" role="tab" data-toggle="tab">Add Products</a>
                            </li>
                            <li class="nav-item" *ngIf="catalogMapOpen && isAdmin && !catalogInfo.EnableAutoProductSync">
                                <a class="nav-link " href="#mappedProductApprove" role="tab" data-toggle="tab">Approve Pending Products</a>
                            </li>
                            <!-- <li class="nav-item">
                                <a class="nav-link " href="#programMap" role="tab" data-toggle="tab">Program</a>
                            </li> -->
                        </ul>
                    </div>
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane fade in active" id="productList">
                            <app-basic-info [notifier]="notifier" (onStatusChange)="childStatusChanged($event)"></app-basic-info>
                        </div>
                        <!-- && !isAdmin -->
                        <div role="tabpanel" *ngIf="catalogMapOpen" class="tab-pane fade in" id="mappedProduct">
                            <app-products-info [notifier]="notifier" (onStatusChange)="childStatusChanged($event)"></app-products-info>
                        </div>

                        <div role="tabpanel" *ngIf="catalogMapOpen" class="tab-pane fade in" id="mappedProductApprove">
                            <app-vendors-info [notifier]="notifier" (onStatusChange)="childStatusChanged($event)"></app-vendors-info>
                        </div>

                        <div role="tabpanel" class="tab-pane fade in" id="programMap">
                            <app-program-map [notifier]="notifier" (onStatusChange)="childStatusChanged($event)"></app-program-map>
                        </div>
                    </div>
                </div>

                <div>
                    <div class="col-md-12 catalog-map-cancel-btn">
                        <span class="btn btn-secondary" (click)="goBackFunc()">Cancel</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>